[2014-07-09 15:33] matallo opened #4 "merge intro pages and illustrate"
http://docs.cartodb.com/
http://cartodb.com/docs

[2014-07-09 15:45] matallo opened #5 "reference CDB_LatLng(float, float)"
http://docs.cartodb.com/tips-and-tricks.html#creating-a-point-from-latitude-and-longitude

[2014-07-09 15:46] matallo opened #6 "illustrate cartodb.js usage example"
http://docs.cartodb.com/cartodb-platform/cartodb-js.html#using-the-library

[2014-07-09 15:48] matallo opened #8 "add one-minute-video to intro"

[2014-07-09 15:49] matallo opened #9 "fill jsonp example for maps api"
http://docs.cartodb.com/cartodb-platform/maps-api.html#example-1

[2014-07-09 15:50] matallo opened #10 "Create Leaflet Draw tutorial"
http://bl.ocks.org/andrewxhill/9885c36421fa7790abe6

[2014-07-09 15:54] matallo opened #13 "Tutorial for advanced infowindow Styling"
https://cartodb.atlassian.net/browse/CDB-1574

at least reference the next article it in the docs
http://blog.cartodb.com/post/88969177119/change-the-width-of-your-infowindows

[2014-07-09 15:56] matallo opened #15 "add infowindows without a click in tips and tricks"
http://gis.stackexchange.com/questions/84718/is-it-possible-to-have-an-infowindow-pre-opened-in-when-you-load-a-cartodb-js-ma/92373#92373

[2014-08-12 22:37] iriberri opened #54 "Add tutorial: styling Torque maps with different colors and sizes"
Content already written. I still need to add images and one example.

[2014-08-14 11:11] matallo opened #57 "(tutorials) labels tutorial"
hey @furilo, I'm assigning @kathypennacchio a new tutorial about labels as she wanted to do an advanced map and I think we don't have anything published about this.

[2014-09-01 09:26] iriberri opened #64 "Add FAQ: casting columns in sync mode"

[2014-09-01 13:33] matallo opened #66 "code smells"
https://github.com/CartoDB/docs/blob/master/_js/editor.js#L93

[2014-09-12 14:17] xavijam opened #81 "Change Geocoding dialog images"
We will publish the new geocoding in the following days. It would be great if we update the images about the geocoding dialog.

cc @furilo

[2014-09-12 14:20] xavijam opened #82 "cartodb_georef_status is not explained in the documentation"
I feel we need to explain the use of cartodb_georef_status column for geocoding purposes, don't we?

cc @furilo @kathypennacchio @piensaenpixel @matallo

[2014-10-13 02:39] andrewxhill opened #92 "No documentation on adding points, lines, or polygons to a table"
both empty table
or adding features to an existing dataset
both are missing

[2014-10-13 13:10] javierarce opened #94 "Document the new overlay properties toolbar"
We need to document the new properties toolbar for the overlays.

Here's the things we've changed:

- We removed the dropdown and replaced it with the toolbar.
- Clicking on a text or image overlay makes a properties toolbar to appear (we also removed the 'edit' button that appeared when you hovered an overlay)
- Double-clicking on a text or image overlay allows to edit their content.
- The toolba

[2014-10-13 18:20] andrewxhill opened #97 "CartoDB.js docs are missing setInteractivity("a,b,c");"

[2014-10-23 09:29] Xatpy opened #103 "[FAQ] - Add a new tip: Label in visualizations"
### How can I add a label to my visualization?

You can add labels to your layers modifying you CartoCSS code. Also, you can modify text properties.
Example:

{% highlight scss %}
#your_table_name {
   text-name: [your_field_name];
   text-face-name: 'DejaVu Sans Book';
   text-size: 10;
   text-label-position-tolerance: 10;
   text-fill: #000;
   text-halo-fill: #FFF;
   text-halo-radius: 1;
   t

[2014-10-24 17:56] andrewxhill opened #108 "New section for using the tile API in google maps"
Since we are dropping support in our JS library, we'll want to add this section do docs.

cc/ @javisantana

[2014-11-24 11:17] jorgeas80 opened #118 "Delete the link to Ruby CartoDB library"
In the [SQL API doc page](http://docs.cartodb.com/cartodb-platform/sql-api.html#libraries-in-different-languages), we recommend a [Ruby library that is currently deprecated](https://github.com/Vizzuality/cartodb-rb-client). A user [complained about it in Twitter](https://twitter.com/jsayar/status/536182404650901504). We should remove that link from the doc

[2014-12-18 13:12] andrewxhill opened #129 "Arcgis connector documentation"
@saleiva who was the feature owner here? we need a rundown of features and functionality to get started

[2014-12-18 15:17] andrewxhill opened #130 "Add section about occational firewall issue"
https://github.com/CartoDB/cartodb.js/issues/248#issuecomment-67498263

[2014-12-19 08:53] javisantana opened #131 "remove this section from the FAQ"
"How can I change the privacy of my tables without using the UI?"

the api is not documented and it is failing

[2014-12-24 11:54] iriberri opened #133 "Sort records by distance"
http://docs.cartodb.com/tips-and-tricks.html#sort-records-by-distance-to-a-point

Martin B. says:

In your docs on "Sort records by distance to a point" you are recommending ORDER BY the result of ST_Distance().
http://docs.cartodb.com/tips-and-tricks.html#sort-records-by-distance-to-a-point

You can instead use KNN indexing and the <-> operator, which offers better performance.
http://boundlessge

[2015-01-08 16:20] Xatpy opened #138 "Document 'state' from synch API (in import_API)"
Document a little more the param **state**:
You will not see your table in your dashboard until its state is 'created' (and no only created).

[2015-01-16 09:34] matallo commented on #131
bump

[2015-01-16 09:38] javisantana commented on #131
the issues is that we are making public an API that is not public and that's a big problem for us while developing

[2015-01-16 09:39] javisantana commented on #131
said that, if someone ask it, tell them how to do it and warn they that it could be changed any time but we can't not write anything like that in a public page

[2015-01-16 09:41] iriberri commented on #131
Understood, I'm on it :smile:

[2015-01-16 09:52] #131 closed

[2015-01-16 10:54] matallo opened #143 "FAQ: KML/Z Tips and Tricks"

[2015-01-16 10:58] #54 closed

[2015-01-16 11:01] matallo commented on #64
bump

[2015-01-16 11:31] #64 closed

[2015-01-19 10:25] iriberri commented on #129
@Kartones told me we already have a small guide for users. If you could share it with me I could work on preparing something public for the docs.

[2015-01-21 09:32] iriberri opened #145 "JSONP example missing in Maps API"
http://docs.cartodb.com/cartodb-platform/maps-api.html#example-1

[2015-01-21 09:34] matallo commented on #145
duplicated https://github.com/CartoDB/docs/issues/9

[2015-01-21 09:38] #145 closed

[2015-01-21 10:25] #9 closed

[2015-01-22 13:58] iriberri opened #149 "Add GDrive emergent window error in Faqs"

[2015-01-23 11:31] #149 closed

[2015-02-05 14:38] andrewxhill opened #156 "Torque API docs no longer on the docs website"
Not sure when it got dropped..

https://github.com/CartoDB/torque/blob/master/doc/API.md

Likely we want the CartoCSS one too.

@matallo @saleiva

[2015-02-05 14:40] javisantana commented on #156
hey, not sure if the doc was in docs website

[2015-02-05 14:51] matallo commented on #156
it's never ever been there, +1 to add these docs

[2015-02-05 14:53] pramsey commented on #156
Yes, finding the CartoCSS docs were only on MapBox was a bit odd. It's a core part of the product, odd to have to go to a "competitor" site for them.

[2015-02-10 16:04] michellechandra opened #159 "Include search bar/functionality on CartoDB docs page"
No ability for users to search documentation.

[2015-02-11 14:44] iriberri commented on #159
We've just been asked about this today in support. :+1:

[2015-02-11 14:52] matallo commented on #159
yeah, it's a long-time request, but haven't been able to look into it yet

https://alexpearce.me/2012/04/simple-jekyll-searching/
https://github.com/blog/1939-how-github-uses-github-to-document-github

[2015-02-11 19:09] matallo commented on #156
in the meantime, we have the torque CartoCSS covered https://github.com/CartoDB/docs/pull/158, but yeah, will ping @brittanymicek to help here

[2015-02-18 00:47] andrewxhill commented on #156
wait, this should be pulled in from cartodb/torque API.md right? this isn't something we need to rewrite. just like cartodb.js is pulled in automatically

[2015-02-18 06:53] javisantana commented on #156
Cartocss doc should be generated from reference, @fdansv can point to the
needed repo.

A cartocss reference to html script can be done in 20 minutes
El 18/2/2015 1:47, "Andrew W. Hill" <notifications@github.com> escribió:

[2015-02-18 08:48] matallo commented on #156
+1 to @andrewxhill
+1 to @javisantana

feel free to assign this to me, just not to the current sprint

[2015-02-19 14:26] fdansv commented on #156
https://github.com/cartodb/torque-reference

[2015-02-24 13:08] iriberri opened #160 "Update export image FAQs"

[2015-02-24 13:17] iriberri commented on #160
https://github.com/CartoDB/docs/pull/161

[2015-02-24 13:17] #160 closed

[2015-02-27 15:47] iriberri opened #162 "Wrong URL in data formats"

[2015-02-27 15:49] #162 closed

[2015-03-03 17:44] andrewxhill opened #164 "Add documentation section of oEmbed support"
We now have an oEmbed API endpoint
This should live in the Platform

We might need a new section. What do you think @javisantana?

@michellechandra see the spec here,

http://oembed.com/

see it running live here,

http://services.cartodb.com/oembed?url=https://osm2.cartodb.com/viz/08aef918-94da-11e4-ad83-0e0c41326911/public_map

It is awaiting this pull request to merge before we serve all the co

[2015-03-03 17:46] andrewxhill opened #165 "Add documentation section that mentions using embeds with Embedly"
This section should live under the Editor

It should be a method for publishing your maps using iframes served by embedly

There users are people like nytimes, so imagine a user that serves content that doesn't want to have to worry about a bunch of weird iframes that aren't predictable. This is suppose to solve that.

You can see it in action here,

http://embed.ly/docs/explore/oembed?url=https%3

[2015-03-05 18:38] michellechandra opened #167 "Update documentation with new dashboard features - Tables section"
Under CartoDB Editor > Tables, revise:

- [x] Importing data
- [x] Syncing Tables
- [x] Manage your tables

[2015-03-05 18:39] michellechandra opened #168 "Update documentation with new dashboard features - Your Account section"
Under CartoDB Editor > Your Account

1) Revise API Key section
2) Add new sections on editing account and profile settings

[2015-03-05 18:40] michellechandra opened #169 "Update documentation with new dashboard features - One-minute Introduction"
Revise one-minute introduction text and screenshot

[2015-03-05 18:42] michellechandra opened #170 "Revise Docs Tutorial: How to Import a Shapefile"
Update tutorial given new dashboard menu

[2015-03-05 18:42] michellechandra opened #171 "New Docs Section: Data Library / Datasets"
Create a section in documentation on Data Library and common data available to users

[2015-03-06 20:22] michellechandra opened #172 "CartoDB Enterprise - Updates needed for new dashboard"
@andrewxhill - will you update this section with changes due to the new dashboard?

[2015-03-06 20:25] michellechandra commented on #168
Also need to update how to delete accounts once functionality is added to the new dashboard.

[2015-03-06 20:44] #171 closed

[2015-03-06 20:44] #169 closed

[2015-03-12 15:46] matallo opened #175 "migrate pending mixpanel properties => hubspot"
**events**
- [x] Visited Docs page

**do we need these as a property?**
- [ ] page_views_blog `page_views_docs`

[2015-03-14 00:40] andrewxhill opened #178 "New tutorial - Using CartoDB with Google Maps"
Take a look at these code examples to get started

https://github.com/CartoDB/cartodb.js/tree/develop/examples/gmaps

cc/ @michellechandra @namessanti

[2015-03-15 19:42] michellechandra commented on #178
@andrewxhill awesome! i can write a tutorial on driving directions and the heatmap example, if that is cool with you @namessanti?

[2015-03-15 20:49] andrewxhill commented on #178
nice!

On Sun, Mar 15, 2015 at 3:42 PM, Michelle Chandra <notifications@github.com>
wrote:

--

andrewxhill <http://twitter.com/andrewxhill>
http://cartodb.com

[2015-03-16 11:01] iriberri opened #182 "Do sample queries through HTTPS"

[2015-03-16 11:22] #182 closed

[2015-03-16 13:19] andrewbt opened #185 "Make qgis plugin easier to discover"
Possibly by including a docs tutorial or something

https://github.com/gkudos/qgis-cartodb

[2015-03-17 14:11] #175 closed

[2015-03-20 22:05] ohasselblad opened #188 ""how to report errors" text"
How about adding the following to the end of the [tutorials layout page](https://github.com/CartoDB/docs/blob/master/_layouts/tutorials.html), just as it is in the academy lesson layout page?

https://github.com/CartoDB/academy/blob/master/_layouts/lesson.html#L57-L59
[code]

this has led to two issues in the academy repo already :)

[2015-03-24 10:12] iriberri opened #191 "Update Georeference tutorial with all the available options"
Right now it just explains "By street addresses", which is a "paid feature".

Ask me about the tricks if needed :-)

http://docs.cartodb.com/tutorials/how_to_georeference.html

[2015-03-30 13:02] andrewxhill opened #193 "Add ogr2ogr support for CartoDB to documentation"

[2015-04-06 15:50] andrewxhill opened #199 "Tutorial - Albers projection maps for US"
http://abcnews.go.com/Business/top-tax-question-google-surprise/story?id=30081697

we should have a simple to follow tutorial for doing Albers in the Editor

[2015-04-06 19:26] namessanti commented on #94
https://github.com/CartoDB/docs/pull/200

[2015-04-08 13:44] saleiva opened #201 "Wrong asset on tutorial for sharing maps"
http://docs.cartodb.com/tutorials/sharing_maps.html

The last one should be the share modal

[2015-04-09 13:38] matallo opened #202 "newsletter mailchimp => hubspot"

[2015-04-09 20:46] andrewxhill opened #205 "Turn excel spreadsheet into a heatmap"
e.g. http://www.thegooru.com/how-to-turn-any-data-set-into-a-heat-map/?mkt_tok=3RkMMJWWfF9wsRonuq3AZKXonjHpfsX56uokUKGxlMI%2F0ER3fOvrPUfGjI4ASMZiI%2BSLDwEYGJlv6SgFTbHMMat6w7gKWxc%3D

[2015-04-10 15:47] #94 closed

[2015-04-15 07:25] javierarce opened #212 "Document Static Maps API"
I'm moving this issue [https://github.com/CartoDB/cartodb.js/issues/371] here.

Here's the current info of the library: https://github.com/CartoDB/cartodb.js/wiki/CartoDB-Map-API

[2015-04-15 07:33] #212 closed

[2015-04-15 07:33] javierarce commented on #212
Ok, the issue was ok in the other repo. Sorry for the noise.

[2015-04-17 09:53] crantok opened #213 "Great tip on GeoJSON in other coordinate systems - where to add it?"
I'm right at the beginning of my learning curve (the first week) of using CartoDB and mapping systems in general. I asked a question on stack exchange which got this excellent answer from John Barça...

http://gis.stackexchange.com/questions/142864/how-to-upload-geojson-to-cartodb-in-a-crs-that-is-not-lat-lon/142942#142942

...and I wondered where in the docs would be appropriate to put some infor

[2015-04-20 16:47] andrewxhill opened #219 "Add three new sections to the Documentation"
To here,

![screen shot 2015-04-20 at 12 44 46 pm](https://cloud.githubusercontent.com/assets/370259/7235267/13809bde-e75b-11e4-9b73-96d5ea1fdb00.png)

1. Introduction (Jatorre's contributed introduction)
2. CartoDB Editor
3. CartoDB Platform
4. Data & Services (e.g. Twitter, Mailchimp, etc)
5. External tools (e.g. Cesium, Fiware, etc)

Can we add those sections so we can start flushing this out?

[2015-04-20 16:51] matallo commented on #219
yeah, you can add them right away:

https://github.com/CartoDB/docs/blob/master/_layouts/index.html#L16

[2015-04-21 17:12] ohasselblad opened #220 "create a search box on the docs page"
Whenever I see this I try to select and type in it as if it were a searchbox. @pramsey requested it too

Could we change it into a search box so users can find content on how to use cartodb better?

![screen shot 2015-04-21 at 13 06 34](https://cloud.githubusercontent.com/assets/1041056/7258015/c8a54b32-e827-11e4-852d-d32724046adb.png)

[2015-04-21 17:14] ohasselblad opened #221 "consolidate docs.cartodb.com and cartodb.com/docs?"
I find it confusing that there are two 'docs' websites. How about consolidating docs.cartodb.com and cartodb.com/docs into one page?

cc @andrewxhill

[2015-04-21 18:00] matallo commented on #221
I've been requesting this for ages ::)

[2015-04-28 09:52] iriberri opened #226 "Update CartoDB Multiuser docs"
http://docs.cartodb.com/cartodb-editor.html#cartodb-enterprise

[2015-04-30 12:39] iriberri opened #229 "Document in a FAQ: heatmaps not working in IE9"
Technical reason:

Heatmaps need that the browser supports cross domain requests in images in order to work, but IE9 just supports cross domain requests in documents, not in images.

From IE10 they work :)

[2015-04-30 21:04] ztephm commented on #229
Hi @iriberri pull request is here: https://github.com/CartoDB/docs/pull/230

...sorry, didn't know how to make pull request appear here.

[2015-05-05 12:28] iriberri opened #231 "FAQ in Google Drive connector issues"
Inside GDrive section:

I'm getting "token is not present" errors:

Technical explanation: this is because Google is just giving one token per application. If you connect a CartoDb account with GDrive, it remains connected, and you try to connect another cartodb account with the same gdrive accoutn, you'll have this error. this is because Google doesn't give you two different tokens, *because for

[2015-05-05 16:26] iriberri commented on #231
Fixed in #232

[2015-05-05 16:26] #231 closed

[2015-05-18 16:13] andrewxhill commented on #219
okay, added but lots of work todo

https://github.com/CartoDB/docs/tree/new-items

[2015-05-18 16:13] #219 closed

[2015-05-18 16:14] andrewxhill opened #238 "Add images to new Platform intro"
https://github.com/CartoDB/docs/blob/new-items/cartodb-platform.md

There are a couple images that Javier wanted from here,

https://docs.google.com/document/d/1ZL7Vq_BQvUi6qHLfOkN1OEifQOaDCwtLMVd4_GMhN1M/edit#

@saleiva can someone make docs ready versions of those?

[2015-05-18 16:14] andrewxhill opened #239 "Check table layout in new Platform page"
Hey @matallo can you peak at the markdown table I used in the intro?

https://docs.google.com/document/d/1ZL7Vq_BQvUi6qHLfOkN1OEifQOaDCwtLMVd4_GMhN1M/edit#

it is borked :|

[2015-05-18 16:15] andrewxhill opened #240 "Document external tool"
Hey @miguelarias @javisantana could you please help us list all the needed tools that should be documented here,

https://github.com/CartoDB/docs/blob/new-items/external-tools.md

[2015-05-18 16:16] andrewxhill opened #241 "Add new data services"
Hey @miguelarias could you have someone start poking some of these in,

https://github.com/CartoDB/docs/blob/new-items/data-services.md

[2015-05-20 17:09] matallo commented on #239
kinda replicated

![screen shot 2015-05-20 at 19 06 13](https://cloud.githubusercontent.com/assets/36676/7731847/a710355a-ff23-11e4-91b8-7291b8cca4da.png)

[2015-05-20 17:09] #239 closed

[2015-05-22 10:31] viddo opened #243 "Update WMS section w/ info of limited projections support"
As part of https://github.com/CartoDB/cartodb/pull/3731 ([new modals](https://github.com/CartoDB/cartodb-management/wiki/new-editor#1-modals) project) to add a custom basemap, we now link to the docs for further info regarding why a WMS/WMTS URL is not considered valid:
![screen shot 2015-05-21 at 19 13 20](https://cloud.githubusercontent.com/assets/978461/7754519/8a8dbaf4-ffed-11e4-89df-b05c5bae2

[2015-05-22 11:45] matallo commented on #243
maybe worth linking to the blog? specifically that is being covered there http://blog.cartodb.com/wms-support/

[2015-05-22 14:38] iriberri commented on #191
This was done already

[2015-05-22 14:38] #191 closed

[2015-05-22 14:38] #229 closed

[2015-05-22 14:40] iriberri commented on #226
@andrewxhill could we push on this? we lots of resources in docs are very very very outdated http://docs.cartodb.com/faqs.html#what-does-the-removable-brand-feature-mean

[2015-05-22 14:42] iriberri opened #244 "Review faqs"
* Remove all mentions to visualizations/tables (unless we're actually referring to tables in a database/SQL sense)
* Update screenshots from old versions (including those who show redesigned parts or even the ones which show the Nokia day basemap: we can use positron instead)
* Check that we're not talking about non-existent features or ignoring features that exist at the moment

@andrewxhill

[2015-05-26 20:23] andrewxhill commented on #226
yeah, it is a good idea

[2015-05-26 20:27] andrewxhill commented on #244
assigning to brittany

[2015-05-26 20:28] andrewxhill commented on #244
for parts of this you do not know, please grab santiago for help

[2015-05-26 20:32] iriberri commented on #244
By the way, it could be great to fake the data (username, org name...) with
the web inspector for the screenshots (that will be less time consuming
that building a new org) so that we put standard information and not things
like Alvaro's account or BBVA information :-)

On Tuesday, May 26, 2015, Andrew W. Hill <notifications@github.com> wrote:

--

Carla Iriberri
*CartoDB*

[2015-05-26 20:33] iriberri commented on #244
Oh, this was for the enterprise documentstion issue. Sorry, wrote from the
phone :(

On Tuesday, May 26, 2015, Carla Iriberri <carla@cartodb.com> wrote:

--

Carla Iriberri
*CartoDB*

[2015-05-26 20:33] iriberri commented on #226
By the way, it could be great to fake the data (username, org name...) with
the web inspector for the screenshots (that will be less time consuming
that building a new org) so that we put standard information and not things
like Alvaro's account or BBVA information :-)

On Tuesday, May 26, 2015, Andrew W. Hill <notifications@github.com> wrote:

--

Carla Iriberri
*CartoDB*

[2015-05-26 20:40] andrewxhill commented on #226
Well... we should have a fake multiuser account for creating these anyway
(and testing new things). Populated with fake names (sally, bob, and other
other classic name fillers)

On Tue, May 26, 2015 at 4:33 PM, Carla <notifications@github.com> wrote:

--

andrewxhill <http://twitter.com/andrewxhill>
http://cartodb.com

[2015-05-26 20:43] iriberri commented on #226
Agree :+1:, that was a time saving attempt :)

On Tuesday, May 26, 2015, Andrew W. Hill <notifications@github.com> wrote:

--

Carla Iriberri
*CartoDB*

[2015-05-27 22:01] ztephm opened #245 "Update Shapefile Import docs with file-geodatabase info"
@ztephm update this with info about file-geodatabase shapefiles according to this S/B ticket: 5467978

cc @iriberri

[2015-05-28 08:12] iriberri commented on #245
:+1:

Multi-file imports is something that is being discussed in several GitHub issues, so atm the workaround is splitting into independent ones.

[2015-05-28 10:01] #243 closed

[2015-05-28 14:43] andrewxhill commented on #172
duplicate https://github.com/CartoDB/docs/issues/226

[2015-05-28 14:43] #172 closed

[2015-05-29 15:40] imakihi opened #247 "typo in the Named Maps tutorial"
I just found that "FROM" keyword is missing in the sql statement in the config.json example.

"sql": "select * named_map_tutorial_table",

should be

"sql": "select * from named_map_tutorial_table",

I just copied and pasted the config.json example and couldn't figure out why the named map layer did not come through...

Thanks!

[2015-06-02 16:33] #247 closed

[2015-06-02 16:33] ohasselblad commented on #247
thanks for reporting! fixed :+1:

[2015-06-04 15:29] ztephm commented on #245
updated: https://github.com/CartoDB/docs/pull/249

[2015-06-04 15:34] iriberri commented on #245
:+1:

[2015-06-04 15:34] #245 closed

[2015-06-08 14:29] andrewxhill commented on #226
@namessanti bump

[2015-06-08 14:29] andrewxhill commented on #244
@brittanymicek bump

[2015-06-08 14:46] andrewxhill opened #250 "Create a section that lists external learning sites"
We have CartoDB courses developed to teach CartoDB. Some people really like learning on other sites, so we should list those from our site. So,

* Create a simple set of criteria that we can evaluate them by, if they fail then we can tell them why
* Create a section that lists these learning tools. We should also use it as another plug for Academy so people know it exists.

[2015-06-08 14:46] andrewxhill commented on #250
lynda.com

[2015-06-10 03:18] namessanti commented on #226
https://github.com/CartoDB/docs/pull/251

[2015-06-12 15:29] andrewxhill commented on #156
Next sprint? @saleiva

[2015-06-12 15:29] andrewxhill commented on #156
nevermind, looks fixed. close?

[2015-06-12 15:31] andrewxhill commented on #199
Dunzo http://docs.cartodb.com/tutorials/albers.html

[2015-06-12 15:31] #199 closed

[2015-06-12 15:33] #130 closed

[2015-06-12 15:36] #108 closed

[2015-06-12 15:36] #97 closed

[2015-06-12 15:49] miguelarias commented on #241
Yes, please @erodespons could you fill in the info we provide from a sales perspective for the data services listed in that page. And then @hboiten could you review, and ping me if my input is needed. The idea is to clarifiy which data services we offer in the platform, and how. And also add the new ones in the future.

[2015-06-12 15:51] miguelarias commented on #240
Ok, please @danicarrion could you start adding information about all the tools that we built here, short description and where to find the code or how to use it. From Qlik to the IoT connect of telefonica to FiWARE, to the FIBASE connector Sander did, CESIUM, Sharepoint... to anything else which is coming in the future.  Ccing @chriswhong so that he adds specifically the FIWARE connector.

[2015-06-12 16:12] danicarrion commented on #240
I was just doing that!!!

[2015-06-12 16:20] brittanymicek commented on #244
See #252 @andrewxhill @iriberri thanks!

[2015-06-12 16:38] danicarrion commented on #240
We have this for now: https://github.com/CartoDB/cartodb-management/wiki/Repo-list I'll extract the list of tools and copy it to that page

[2015-06-12 17:12] erodespons commented on #241
Started updating @miguelarias @hboiten. Difference between Free geocoding and Street Address Geocoding @andrewxhill ?

[2015-06-12 18:54] andrewxhill commented on #241
Street level precision... all the others are city level precision and above

On Fri, Jun 12, 2015 at 10:12 AM, Eduardo Rodés Pons <
notifications@github.com> wrote:

--

andrewxhill <http://twitter.com/andrewxhill>
http://cartodb.com

[2015-06-15 15:26] erodespons commented on #241
Updated!

Shall I include Mailchimp, Instagram, Google Drive, etc. there @andrewxhill ?

[2015-06-15 21:29] #226 closed

[2015-06-17 02:36] andrewxhill commented on #241
yep, that'd be great!!

On Mon, Jun 15, 2015 at 4:26 PM, Eduardo Rodés Pons <
notifications@github.com> wrote:

--

andrewxhill <http://twitter.com/andrewxhill>
http://cartodb.com

[2015-06-24 22:52] namessanti commented on #240
https://github.com/CartoDB/docs/commit/4926f4885421f2bca2757328b83c2119d12f4101

[2015-06-24 22:54] namessanti commented on #193
Added OGR support for CartoDB section

https://github.com/CartoDB/docs/commit/4926f4885421f2bca2757328b83c2119d12f4101

[2015-06-25 21:45] namessanti commented on #240
Added ArcGIS Connector section.

http://docs.cartodb.com/cartodb-platform/import-api.html#the-arcgis-connector

CartoDB/docs@731695d

[2015-06-25 21:46] namessanti commented on #129
http://docs.cartodb.com/cartodb-platform/import-api.html#the-arcgis-connector

CartoDB/docs@731695d

[2015-06-25 21:46] #129 closed

[2015-06-25 21:48] #193 closed

[2015-06-29 13:53] iriberri opened #254 "Add explanation about attributions"
Here: http://docs.cartodb.com/faqs.html#how-to-print-maps-in-cartodb

[2015-06-29 14:33] iriberri opened #255 "Update removable brand FAQ"
http://docs.cartodb.com/faqs.html#what-does-the-removable-brand-feature-mean

The screenshot is super old!

Notice that this naming comes from the pricing so it's important to keep it:
![image](https://cloud.githubusercontent.com/assets/1730320/8410115/7e3147fa-1e7c-11e5-9a2c-c8c35954d07e.png)

[2015-06-29 14:42] iriberri opened #256 "Remove realtime database connection faq"
http://docs.cartodb.com/faqs.html#can-cartodb-display-real-time-data-from-a-sql-database-connection

Remove this one, it doesn't help imho (I added it a year ago ;))

[2015-06-29 14:44] iriberri opened #257 "Remove tables quota FAQ"
http://docs.cartodb.com/faqs.html#what-does-the-table-quota-mean-for-the-different-plans

We no longer limit tables per plans, so I'd remove this completely

[2015-06-29 14:48] iriberri opened #258 "Update tutorial: Map election results"
http://docs.cartodb.com/tutorials/electoral_map.html

Wait for Editor redesign.

[2015-06-29 14:49] iriberri opened #259 "Update tutorial: Importing shapefiles to CartoDB"
http://docs.cartodb.com/tutorials/import_shapefile_in_cartodb.html

Please, update the screenshot

[2015-06-29 22:26] ztephm opened #261 "Update FAQ for exporting lat/lon from the_geom"
Update this FAQ: http://docs.cartodb.com/faqs.html#i-have-a-column-with-the-coordinates-but-my-data-is-not-georeferenced

According to this S/B answer: 5790780

@ztephm

cc: @iriberri

[2015-06-30 13:34] matallo opened #262 "file extension restriction with Dropbox"
- no GPX
- no ZIP

we should at least document this

[2015-06-30 16:23] ztephm commented on #261
Add to new FAQ instead.

[2015-07-01 14:53] andrewxhill opened #265 "Create CartoCSS documentation with CartoDB"
Coming...

[2015-07-01 17:42] namessanti commented on #164
added to https://github.com/CartoDB/docs/blob/new-items/external-tools.md

[2015-07-01 17:42] #164 closed

[2015-07-01 18:15] javisantana commented on #164
oembed api doc should be part of the editor api which includes oembed, viz.json, static images and so on

[2015-07-01 18:20] andrewxhill commented on #164
ah, oh, uh no no, i don't think so.

this is more for people that build content tools that could support cartodb through oembed. people like wordpress, that can enable cartodb

[2015-07-01 18:22] javisantana commented on #164
haha I don't actually mind, I do prefer not to publish oembed endpoint but it totally makes sense to publish with the rest of the public endpoints for visualization

[2015-07-02 16:00] #261 closed

[2015-07-03 18:21] #201 closed

[2015-07-10 08:39] javisantana opened #267 "add apichangelog widget"
the snippet is really simple
[code]

You can see it working in spotify page: https://developer.spotify.com/web-api/change-log/

I guess it would need some design decision on where to place it

[2015-07-14 14:28] josecruz opened #269 "Add (tm) to ArcGIS"
Found 38 ArcGIS without (tm) in `http://docs.cartodb.com/cartodb-platform/import-api.html`

![screen shot 2015-07-14 at 4 24 13 pm](https://cloud.githubusercontent.com/assets/596509/8675608/46b7e642-2a45-11e5-8927-73a80febaed3.png)

ArcGIS Server(tm)
ArcGIS(tm)

[2015-07-14 14:35] josecruz opened #270 "Add (tm) to ArcGIS"
Found another 2 ArcGIS without (tm) here `http://docs.cartodb.com/cartodb-editor.html`

![screen shot 2015-07-14 at 4 32 40 pm](https://cloud.githubusercontent.com/assets/596509/8675757/f9cacb46-2a45-11e5-9966-cc662872f3fb.png)

ArcGIS Server(tm)
ArcGIS(tm)

[2015-07-15 13:05] #270 closed

[2015-07-15 13:08] #269 closed

[2015-07-15 15:21] #244 closed

[2015-07-17 14:41] csobier opened #272 "Edit spelling of "visualisation" to Standard English"
Minor doc edit for Standard English consistency.

- From the example page, [Real Estate, Living Cities](https://cartodb.com/case-studies/living-cities/) / Solutions section

- Update "visualisations" to "visualization", as per the Stylish Writing Guide.

![example of standard english_visualization](https://cloud.githubusercontent.com/assets/13319925/8749551/3e06c874-2c70-11e5-9e3f-6e767a79c591.png

[2015-07-17 14:43] csobier commented on #272
Just practicing creating issues and playing around with markup hyperlinks in GitHub :-)
@brittanymicek @andrewxhill

[2015-07-17 14:45] andrewxhill commented on #272
woot!

On Fri, Jul 17, 2015 at 10:43 AM, csobier <notifications@github.com> wrote:

--

andrewxhill <http://twitter.com/andrewxhill>
http://cartodb.com

[2015-07-17 14:49] brittanymicek commented on #272
Nice catch! Good job!

On Fri, Jul 17, 2015 at 10:45 AM, Andrew W. Hill <notifications@github.com>
wrote:

--
*Brittany Micek*
Content Writer

*CartoDB—Map Your World's Data*
143 Roebling St 2A, New York, 11211, USA
T: + <%2B34695497365>19174633232
W: www.cartodb.com

Live sessions to learn CartoDB <http://cartodb.com/webinars/>

[2015-07-20 19:02] csobier opened #273 "Create Tutorial about Quantification"
(I am creating this as a doc enhancement placeholder for a future milestone).

Create a tutorial about using quantification for normalization, as a best practice when creating maps.
 - Include any existing info from Docs  / Tips & Tricks?
 - Include links to external resources?
For example, http://www.gsd.harvard.edu/gis/manual/normalize/
(This may also be related to #250?)

- I am tagging @auremo

[2015-07-24 06:14] auremoser commented on #273
Ah yes, our [trainings](http://cartodb.github.io/training/) repo has some breakdown for the different quantification methods (as in this example [under 'choropleth' header](http://cartodb.github.io/training/intermediate/prado.html), and I usually do a basic run through with examples of what a choropleth can look like with different methods on the same data.

I've never done a "normalization" lesso

[2015-07-24 12:44] csobier commented on #273
No worries, there is no milestone. I am still trying to ramp up and learn
GitHub (argh!).  Plenty to do but wanted to note anything that was
mentioned for a future project.

Thanks and see you soon!

On Fri, Jul 24, 2015 at 2:14 AM, Aurelia Moser <notifications@github.com>
wrote:

--
*Christa Sobier*
Technical Writer

*CartoDB—Map Your World's Data*
143 Roebling St 2A, Brooklyn, New York, 11211, U

[2015-07-24 15:20] csobier commented on #272
Spelling updated and merged.  Confirmed on live Docs portal, closing issue.

https://github.com/CartoDB/website/commit/c03ce49ea1e27f6bbf9cfc0e260563dcc54be8b8

[2015-07-24 15:20] #272 closed

[2015-07-24 16:08] viddo opened #277 "Update screenshots for new modals"
The screenshots for modals as seen on http://docs.cartodb.com/ are now outdated, so would need to be updated to reflect the [new modals](https://github.com/CartoDB/cartodb-management/wiki/New-Editor#1-modals), that was released on July 23rd.

[cartodb-editor.md](https://github.com/CartoDB/docs/blob/master/cartodb-editor.md):
- [x] http://docs.cartodb.com/cartodb-editor.html#dataset-privacy-setting

[2015-07-24 16:29] csobier commented on #257
Assigning to myself to remove this question from the FAQ section of the Docs portal.

[2015-07-24 16:32] iriberri commented on #257
:+1:

[2015-07-24 21:23] csobier commented on #277
I spoke to Carla about this and I am assigning to myself.  These images in the Doc portal need to be updated.  Please include me in the production release cycle for any UI changes going forward. Thanks!

[2015-07-24 21:36] csobier opened #279 "Add Navigation Enhancements to the Docs Portal"
The Docs portal needs to look more like a content management system.  There will be many template/design changes coming down the pipeline.  This enhancement should be added first.

- Add a search input field that searches across ALL content within the DOCS repo only, not just the selected page.

I have attached a sample screenshot, anything similar to this would suffice.
![example_search input fie

[2015-07-27 13:17] csobier commented on #257
Question removed from FAQ section of the Docs portal, closing issue.

[2015-07-27 13:17] #257 closed

[2015-07-27 14:40] viddo commented on #277
Ok, great! :+1:

[2015-07-28 18:10] csobier opened #280 "Add Margin Options when using Nested Content in a List"
When using a numbered list, I am adding images and sentences within each step.  Please add support to enhance how nested content appears inline with bulleted steps.

See attached screenshot of markup and output.
(Thank you @matallo for the workaround!)

![example of margins with nested bullets](https://cloud.githubusercontent.com/assets/13319925/8939378/257e2a02-3532-11e5-9a17-155a6ed35b18.png)

[2015-07-28 18:39] csobier opened #281 "Add hyperlink enhancements in the code"
Please update the code to support the following hyperlink enhancements:
* Add option to open hyperlinks in a new tab or window
* Add option for text only hyperlinks (pop-ups) for a selected word.
(For example, to display a short definition over a selected word.)
* When using a hyperlink to a heading, the hyperlink should jump to the heading, not to the text below the heading

As per @matallo, thes

[2015-07-30 13:27] csobier opened #282 "Review documentation procedures"
@brittanymicek
Ideally the documentation workflow will be in sync with production and will allot time in the release cycle for editing and review before being pushed live.  I will assign issues to you on a case by case basis with the label=*For Review (Content Editing)*, if the content does not need subject matter expert sign-off.  However, this workflow may take time to be applied since I am doin

[2015-07-30 13:34] csobier opened #283 "Wordsmith UI text"
I am creating this issue as a placeholder.  I have identified some UI text that can be improved and simplified.

- [ ] Publish options
- The icon above Publish Your Map is confusing, it looks like something will happen if I click the icon when the only actual actions are copying the input fields or closing/canceling the screen.
- Remove 'Read More' from the CartoDB.js option. It's too vague. I hav

[2015-07-30 18:24] csobier opened #284 "Update tutorial: Customizing, sharing, and embedding your maps"
The "Share" option was removed and now appears as the "Publish" option. The modal window also changed.

I have updated the documentation steps (FAQs and CartoDB Editor) but this related tutorial also needs to be updated.  I am happy to help however I can.
*I am hiding this link to the tutorial from the documentation until this tutorial is updated*.

**Note:** For efficiency, all of this related co

[2015-07-30 18:41] csobier commented on #282
@brittanymicek Added two more sections ready for review

[2015-07-31 19:17] csobier opened #286 "Docs Repo file structure needs to support shared images"
As the doc structure changes- I anticipate that many files will break up and many new files will be created.  That being said, there are areas that will share common images.  It is not efficient to duplicate multiple images.  I need a shared image repository that I can use to manage common, shared images.

This is a high priority! @matallo  Let's collaborate as soon as possible.

[2015-08-04 11:39] tillnagel opened #287 "XML named as supported data file type, but seems not to be the case"
In http://docs.cartodb.com/cartodb-editor.html ([source](https://github.com/CartoDB/docs/blob/master/cartodb-editor.md)) the first section ("One Minute Intro") states CartoDB "accepts data in different formats (Excel, CSV, XML, SHP, GeoJSON [...]", yet XML doesn't work.

It is correct under [Supported File Formats](http://docs.cartodb.com/cartodb-editor.html#supported-file-formats) where XML is no

[2015-08-05 15:23] csobier commented on #286
File structure of Docs repo still subject to change but a *Common* folder was added for shared images.  Thank you @matallo

I am closing this issue.

[2015-08-05 15:23] #286 closed

[2015-08-05 15:24] csobier commented on #286
![image](https://cloud.githubusercontent.com/assets/13319925/9089720/976a8f92-3b64-11e5-9cdc-643f9bf1ba10.png)

[2015-08-11 14:05] csobier commented on #283
Add issue to export dataset task

[2015-08-11 15:35] piensaenpixel opened #295 "Update footer with new sections and links"

[2015-08-13 20:20] #282 closed

[2015-08-13 20:20] csobier commented on #282
Closing this test issue, these updates are live.

[2015-08-14 14:33] piensaenpixel commented on #295
@mariodelvalle how is it going?
Also please change On-premise to On-premises relation with https://github.com/CartoDB/website/pull/1845

[2015-08-14 14:41] piensaenpixel opened #303 "Remove unused include"
![image](https://cloud.githubusercontent.com/assets/1214201/9276181/aedad692-42a2-11e5-9180-c83676b606aa.png)
Clean unused file and be careful with the names please.

cc @iriberri @andrewxhill

[2015-08-14 14:43] andrewxhill commented on #303
@csobier i can show you how to do a remove today

[2015-08-14 14:49] mariodelvalle commented on #295
Thanks.

Newsletter module is pending.
I'm going to do it.

[2015-08-17 11:49] csobier commented on #303
See PR #305

[2015-08-18 12:12] csobier opened #307 "update dataset metadata window"
Update all documenation to reflect the changed dataset metadata window.

Relate to: #5016
https://github.com/CartoDB/cartodb/pull/5016

[2015-08-18 15:24] vhamer commented on #240
hi all - per email discussion, would like to get CartoDB connections to OGR, Cesium, oEmbed, and QGIS documented on our site (not FiWARE). @andrewxhill or @danicarrion - would you assign someone to finish this page? when it is up, i'll add links to the sections from the cartodb.com/extras page

[2015-08-18 18:17] #303 closed

[2015-08-18 19:27] csobier opened #310 "Create doc for Edit menu of Maps/Datasets"
- Recreate new section for Dataset / Edit menu
- Create new section of Maps / Edit menu (deleted old Options section #309 )

[2015-08-18 22:59] csobier opened #311 "Reorg doc structure"
Skeleton TOC to be applied to the layout of the documentation portal.

**Docs home page- Introduction**
http://docs.cartodb.com/

**CartoDB Editor (home)**
H1- Overview
H1- Getting Started (overview of the UI)
 - H2- Description of menu items and other UI options available from the Editor (account profile, etc.)

H1 - Individual Workflow Procedures as their own file
Apply DITA format in the file s

[2015-08-19 18:05] csobier opened #315 "update export dataset dialog"
Update documentation to reflect the changed export dataset dialog box.

Related to: #4986
Export Dataset dialog
https://github.com/CartoDB/cartodb/issues/4986#issuecomment-130279525

[2015-08-19 18:06] #307 closed

[2015-08-19 18:52] #315 closed

[2015-08-20 12:54] csobier commented on #277
@viddo , I have edited all of the sections above. I have also changed some images not included on this list.  And I am sure I will find other out of date windows along the way.... Since these specific tasks are complete, I am marking this issue as closed.

Thanks!

[2015-08-20 12:54] csobier commented on #277
@viddo , I have edited all of the sections above. I have also changed some images not included on this list.  And I am sure I will find other out of date windows along the way.... Since these specific tasks are complete, I am marking this issue as closed.

Thanks!

[2015-08-20 12:54] #277 closed

[2015-08-20 12:55] viddo commented on #277
Awesome, thanks to you! :dancer:

[2015-08-20 15:43] csobier opened #318 "Update Twitter dialogs in the doc"
Content changes in the Twitter dialog- update related doc.

https://github.com/CartoDB/cartodb/pull/5156

[2015-08-20 18:15] namessanti commented on #240
@chriswhong was working on pushing this documentation onto the site, but ran into some issues. Chris may be able to help move this forward.

[2015-08-21 11:52] csobier commented on #310
Closing, changes merged in PR #319

[2015-08-21 11:52] #310 closed

[2015-08-21 14:35] danicarrion commented on #240
@vhamer what do you think it's still missing?

[2015-08-21 14:57] csobier commented on #283
Closing- new workflow is that I am reporting issues in the product repo on a case by case basis.

[2015-08-21 14:57] #283 closed

[2015-08-21 15:26] iriberri opened #322 "Add more column merge information into merging datasets tutorial"
http://docs.cartodb.com/tutorials/merging_data.html

The details of this one are pretty focused on the spatial join. Could we improve it to cover a little bit more about the column join? Like what does mean to select some columns and not others, or what different selectors mean.

[2015-08-21 15:46] kathypennacchio commented on #240
ah hey @danicarrion i didn't realize the prev link @chriswhong had sent was
to a draft /docs page. @chriswhong once you merge the page, i'll have the
new items (Cesium, OGR, oEmbed, QGIS) added and linked to from
cartodb.com/extras

On Fri, Aug 21, 2015 at 10:35 AM, Dani Carrión <notifications@github.com>
wrote:

--
Vanessa Hamer
Business Development & Operations
CartoDB <http://cartodb.com> | vha

[2015-08-21 15:49] csobier opened #323 "Update "Contact Sales" to "Contact Solutions""
Javi mentioned that the Sales team is being rebranded as the Solutions team.  There are several references in the documentation that mention contacting Sales for more information

Once the "Solutions" team has a working email contact address, update all references.

[2015-08-21 16:41] yasharora73 commented on #322
We could also have two datasets in the library to show how the column merge works, the same way we have it for spatial merge (world borders+populated places)

[2015-08-21 16:51] csobier opened #326 "Update "First time Tip" dialogs"
Update all tip dialogs (the first time you click on a new option from CartoDB). The readability of the context can be improved, there is incorrect grammar, and the associated lettering (A,B,C) is not intuitive of the intended workflow.

When the Tip pop-up appears:
- Clicking ESC, from your keyboard, allows the tip to reappear
- Clicking "Got it" removes the tip forever

I was told that "tips" are

[2015-08-21 17:13] csobier commented on #318
Closed, changes appear in PR #325

[2015-08-21 17:13] #318 closed

[2015-08-21 17:27] csobier opened #327 "Broken link to CartoDB Platform / All APIs"
The link to *All APIs*, from the CartDB Platform heading of the Docs portal is broken. It should open the cartodb-platform.html page (as the left sidebar of the page does).  See example image attached.

I cannot figure out how to fix this in the current repo environment?  I am assigning to myself, as this is a task that I should be able to manage. I will seek out resources to guide me through the

[2015-08-25 18:10] ohasselblad commented on #250
http://es.schoolofdata.org/2015/08/12/una-introduccion-a-cartodb/

[2015-08-25 18:11] ohasselblad commented on #273
we should do a short lesson, 'how to make a map with normalized data' for academy lite. adding to planning doc.

[2015-08-25 19:32] ohasselblad commented on #273
steph touches on quantification in the design lesson, but perhaps we should do a short lesson specifically on quantification as well?

[2015-08-25 22:28] ztephm commented on #273
+1 for short quantification lesson

Would it be helpful to have filter graphs showing how each of the options is bucketing them, so users could judge which method to use based on what their data's graph looks like?

[2015-08-26 11:55] csobier commented on #323
As per Dani, solutions@cartodb.com

[2015-08-26 12:12] danicarrion commented on #323
This would be a reasonable approach, IMHO:

solutions-internal -> sales-engineering@cartodb.com
solutions-priv -> sales-engineers@cartodb.com
solutions -> sales@cartodb.com

[2015-08-26 12:14] danicarrion commented on #323
And sorry @sdankas for messing up with the lists again :-)

BTW Sally, I've noticed a typo in my previous email about this (missing "s" in solutions-priv)

[2015-08-26 12:15] andrewxhill commented on #221
bump

[2015-08-26 12:15] danicarrion commented on #323
@csobier I think we can make the new solutions@cartodb.com point directly to the external sales mailing lists, as I bet 99% of the emails there will be related to enabling connectors, upsells, etc., that are managed by sales directly (typically Yash)

[2015-08-26 14:36] danicarrion commented on #323
(we're still discussing this, don't do anything yet, please)

[2015-08-26 14:44] csobier commented on #327
@carlostallon , can you kindly assign a collaborator resource since I must rely on web developers for changes like this?
This is something I will be doing often (adding and changing files under these headings). I already have other higher priority requirements in the pipeline so this is important, but I thought this would be a good issue to test the workflow.

[2015-08-26 14:52] iriberri commented on #326
This content lives in the CartoDB repo, for example: https://github.com/CartoDB/cartodb/blob/master/lib/assets/javascripts/cartodb/common/views/create/create_onboarding.jst.ejs

Hope this helps!

[2015-08-26 14:55] auremoser commented on #273
love this idea.
like the graphs in this blog post (<
http://coding-geek.com/how-databases-work/>), very simple showing how
decision trees work and values are grouped, maybe that accompanied by a
histogram of the shape of data that best corresponds to.

2015-08-25 18:28 GMT-04:00 ztephm <notifications@github.com>:

--
A̴͉̼u͚̮̟̮̩̗̮r̡e̦͖ĺi̻͕̫̠̺a̭̲͖͎ | aureliamoser.com

[2015-08-26 15:52] hboiten commented on #323
Hi all: just to be clear... We should NOT replace ALL mentions of Sales with Solutions, please see clarification from JaTorre below
<img width="576" alt="screen shot 2015-08-26 at 16 51 49" src="https://cloud.githubusercontent.com/assets/11716425/9498663/d475ab10-4c12-11e5-8275-34bbe27f8245.png">
<img width="583" alt="screen shot 2015-08-26 at 16 51 59" src="https://cloud.githubusercontent.com/ass

[2015-08-26 16:25] csobier commented on #323
Closing issue without making changes. This is not a requirement in the Docs portal. I am leaving all references to 'Contact Sales' as is.

[2015-08-26 16:25] #323 closed

[2015-08-26 18:52] ohasselblad commented on #221
relevant to @csobier's work :)

[2015-08-26 22:56] csobier opened #330 "Add CartoCSS to the CartoDB Platform doc"
@carlostallon Similar to #327 , I need a collaborator resource file structure changes. I have WIP (work-in-progress) files in the branch, add_cartocss_files but really need the structure created before finalizing the edits. What do you need from me?  I have several files/images in the branch.

[ ] Add CartoCSS placeholder in [CartoDB Platform home page](http://docs.cartodb.com/cartodb-platform.htm

[2015-08-27 01:42] csobier commented on #287
Closing, updated in PR# 331.

[2015-08-27 01:42] #287 closed

[2015-08-27 10:56] carlostallon commented on #327
@piensaenpixel can you do that please?

[2015-08-27 13:06] piensaenpixel commented on #327
Sure, tomorrow i can take care of it

[2015-08-27 13:08] csobier commented on #327
@piensaenpixel Great! Thank you, can we step through a checklist together?  I will need to know the structure for making changes in the future.

[2015-08-27 14:55] csobier opened #332 "Update Map Wizard content/image"
Update all Map Wizard content and images, doc shows out of date images and inconsistency in options.  Assigning to myself so that this is in my queue ToDo.

[2015-08-28 12:39] csobier commented on #259
Dup #170

[2015-08-28 12:39] #259 closed

[2015-08-28 12:42] csobier commented on #279
#159
#220

[2015-08-28 12:42] csobier commented on #220
Dup #279

[2015-08-28 12:42] #220 closed

[2015-08-28 12:43] csobier commented on #159
Dup #279

[2015-08-28 12:43] #159 closed

[2015-08-28 13:08] csobier commented on #4
Dup #221

[2015-08-28 13:08] #4 closed

[2015-09-01 08:56] iriberri opened #333 "Update references to created_at and updated_at columns"
which will be no longer created by default: https://github.com/CartoDB/cartodb-postgresql/blob/4fe85a6a76650aadef117d4c4865e3ff7faee4ad/NEWS.md#090-2015-08-19

[2015-09-01 13:38] jsanz opened #334 "Note about torque layers and ambiguous column name"
When creating a torque with categories layer, the sql that defines the data can't have a column named `torque_cotegory` because it drives to an weaird error not easy to determine by the final user. So I'd add a note at [torque section](http://docs.cartodb.com/cartodb-editor.html#torque) on the editor documentation but wasn't sure where exactly and with which form (a **Tip** maybe?).

[2015-09-01 15:21] csobier opened #336 "Edit Georeference Data procedure"
Product is changing some text in the "Georeference your dataset" dialog window.  I created this issue to remind myself to update the image the doc when changes are merged.

http://docs.cartodb.com/cartodb-editor.html#editing-georeference-data

Regarding https://github.com/CartoDB/cartodb/commit/bda38366e7cbeecc28a2865e0bd76663602cd5d4#commitcomment-12974664

[2015-09-02 14:57] csobier commented on #254
Closing, I mentioned editing metadata and provided link to full related procedure for the *How to Print Maps* question (in PR #337).

[2015-09-02 14:59] iriberri commented on #254
Hey, notice "attributes" is not "attributions". Actually the new export image adds the attributions directly, so this issue is already out of date and we might just ignore all about attributions in the Export Image scope, but I don't think the naming is the perfect one. What do you think?

[2015-09-02 15:03] csobier commented on #255
Closing, I updated the removable brand question in PR #337.

[2015-09-02 15:03] #255 closed

[2015-09-02 15:08] csobier commented on #254
So it is not a requirement to edit the metadata for an image anymore?  It is done automatically?  If so, I need to apply some minor updates.

[2015-09-02 15:23] iriberri commented on #254
What do you mean by "edit the metadata for an image"? :-)

Previously, when exporting an image, the attributions of the map such as "Tiles from Open Street Map data, CartoDB attribution" weren't exported, but now they're:

![image](https://cloud.githubusercontent.com/assets/1730320/9635504/0a46e6a8-5197-11e5-99d8-74cc43ac81c8.png)

Previously, we asked the users to add the "Tiles from Open Street

[2015-09-02 15:34] csobier commented on #254
Okay, now you have lost me... so is the requirement now that when using the Maps API for creating Static Maps, there is an attributions parameter that should be added?  If so, what is that parameter and what are examples of some values?

Maps API / Static Maps?
http://docs.cartodb.com/cartodb-platform/maps-api.html#static-maps-api

[2015-09-02 15:54] csobier commented on #221
Assigning to @piensaenpixel , can you take care of this as this is a navigation issue and a duplicate page issue?

The actual documentation content is located here: http://docs.cartodb.com/, all references to documentation should be directed here.

**Note:**  All page footers are pointing to the website "documentation" page (https://cartodb.com/docs/) from the Learn section, this is confusing. The

[2015-09-02 17:19] matallo commented on #327
ping, I can take it if you want me to @piensaenpixel

[2015-09-02 17:35] matallo commented on #330
I can take this, but let's discuss in tomorrow catch-up @CartoDB/design

[2015-09-02 17:52] iriberri commented on #254
Let me rephrase it again:

The attributions such as the ones of the basemaps or the CartoDB one *must* appear in any map created with the platform.

We developed the Static Maps API (the one of the link you copied) some months ago in order to create images from maps (previously this wasn't possible, you could only take a screenshot of it).

This service was able to export the map but it's only abl

[2015-09-02 18:18] csobier commented on #254
Okay, I am reopening this issue. I think the documentation requirement still applies (when using the API only).  We should add steps for how to add attributions in the Maps API/Static Maps section.  I'm adding a To Do list of related tasks for myself :-)

To Do:
- [ ] Create steps for how to add attributions when using the Static Maps API
- [ ] Update FAQ / Print Map answer to include both the aut

[2015-09-02 18:21] iriberri commented on #254
This seems great to me. What do you plan to cover in "Create steps for how to add attributions when using the Static Maps API"?

[2015-09-02 18:27] csobier commented on #254
Is there a targeted production milestone for Static Maps API functionality?  If so, let's add that milestone to this issue (I am still trying to figure out how to automatically sync this repo with the CartoDB mgmt milestones so that I can assign and prioritize issues).

[2015-09-02 18:59] csobier commented on #334
Excellent, great information.  Note that I need to rewrite the entire Map Wizards content (# 332) but for now, does this note suffice in the [Torque Category](http://docs.cartodb.com/cartodb-editor.html#torque-category) section?  (*I am not sure what the error message is. Please let me know if the note below is too vague or if there is more information I should know?*)

**Note:** If you select Tor

[2015-09-03 07:41] #295 closed

[2015-09-03 08:19] jsanz commented on #334
To cover better all the cases I'd change a bit the text because it would happen not only with custom queries but also with any table if `torque_category` is one of the column names.

**Note:** If you select Torque Category as the map type, ensure your SQL query is not using `torque_category` as a column name to prevent errors.

[2015-09-03 09:29] viddo opened #339 "Update georeference info/modal screenshots (changed copy)"
:point_up: by popular request in https://github.com/CartoDB/cartodb/commit/65c1ee31b7831c6306816925539158df7d173e51#commitcomment-13010597

The texts have changed so should be reflected in the docs I guess?

[2015-09-03 09:41] iriberri commented on #254
I don't think there's something else that what you can find in the general roadmap here: https://github.com/CartoDB/cartodb/milestones

[2015-09-03 12:10] csobier commented on #334
Okay, how about this?  If you sign-off, I'll post live.

**Note:** If you select Torque Category as the map type, ensure your SQL query is not using `torque_category` as a column name to prevent unexpected behaviors.

[2015-09-03 12:11] csobier commented on #336
Closed, Dup. Product created a ticket for me :-)

[2015-09-03 12:11] #336 closed

[2015-09-03 12:29] jsanz commented on #334
:+1:

[2015-09-03 12:29] #334 closed

[2015-09-03 13:38] matallo opened #342 "table header is not styled"
<img width="739" alt="screen shot 2015-09-03 at 15 37 35" src="https://cloud.githubusercontent.com/assets/36676/9659645/cfde0c7e-5251-11e5-8e94-9ef78b046850.png">

[2015-09-03 13:41] piensaenpixel commented on #342
We know.. but thanks :)

[2015-09-03 13:42] matallo commented on #342
just for not losing track, didn't assign anybody nor a milestone

[2015-09-03 13:48] piensaenpixel commented on #342
i'm assing myself dont worry

[2015-09-03 16:28] andrewxhill opened #343 "Static image, cartodb.js section, getURL should be getUrl"
In all cases

http://docs.cartodb.com/cartodb-platform/cartodb-js.html#static-maps

[2015-09-04 13:07] csobier commented on #327
I need help, can someone supply me with a checklist of all files/folders I need to step through for this issue?  All I see are scripts and not actual hyperlinks or defined files as cross references.  Please advise.
- [ ] Docs / index.md  Is the home page, but where are the sidebar navigation elements for this page?
My guess is Docs / _layout / default.html but I do not see anywhere where I can def

[2015-09-04 13:10] csobier opened #345 "Update all User Account images/options"
New functionality and design applied to the User Account settings.  I need to update all options, descriptions, and images.  (Related to https://github.com/CartoDB/cartodb/issues/4878)

[2015-09-04 14:00] csobier commented on #339
Merged doc changes in PR #347

[2015-09-04 14:00] #339 closed

[2015-09-08 12:26] csobier commented on #254
@iriberri Can you confirm that this is the step `Image.write(attributes)` required to add attributions for a static image?  (I do not see any "attribution" parameters in any of the API docs)

http://docs.cartodb.com/cartodb-platform/cartodb-js.html#imagewriteattributes

[2015-09-08 12:43] csobier commented on #343
@andrewxhill Is this strictly a case sensitivity fix?

Image.**getUrl**(callback(err, url))

Gets the URL for the image requested.

Image.**getUrl**
[code]

[2015-09-08 12:51] andrewxhill commented on #343
yep, case sensitive

[2015-09-08 13:48] csobier opened #348 "Update doc images and content to include privacy toggle feature"
Update all doc images and content to show the privacy toggle feature (Related to product [#5340](https://github.com/CartoDB/cartodb/pull/5340/files#r38755777) )

[2015-09-08 15:59] iriberri commented on #254
@csobier, when I'm referring to Attributions in the whole issue I'm referring to a user writing by hand a line of text in which the attributions (the ownership) of the basemaps is clear.

[2015-09-08 16:07] csobier commented on #254
Where (and how) is this ownership information (attributions) applied for static map images?

[2015-09-08 16:20] iriberri commented on #254
Let me try to explain it again:

When you export a map from CartoDB and we don't include the attributions for the basemaps/other attributions that might have been set up in the map [this happens when using the Static Maps API right now], the user that gets the exported image *must* mention these attributions whenever they're publishing the image out there.

Something similar is explained at the bo

[2015-09-08 19:25] csobier commented on #262
Add note regarding file formats for Dropbox in PR #349. Closing issue.

[2015-09-08 19:25] #262 closed

[2015-09-08 22:50] csobier commented on #256
As requested, removed this vague FAQ in PR #351

[2015-09-08 22:50] #256 closed

[2015-09-09 08:45] jsanz commented on #343
Fixed on this [PR](https://github.com/CartoDB/cartodb.js/pull/656)

[2015-09-09 08:45] #343 closed

[2015-09-09 16:35] csobier opened #353 "New connect dataset layout"
Update all doc content and images to reflect product issue [#5459](https://github.com/CartoDB/cartodb/pull/5459)

[2015-09-09 18:00] #167 closed

[2015-09-09 18:02] csobier commented on #345
Issue #168 looks old, but I will account for that issue as part of this one.

[2015-09-10 15:18] iriberri opened #354 "Remove .TAB from supported formats"
and add .TSV instead

Conclusion from: https://github.com/CartoDB/cartodb/issues/989

[2015-09-10 15:21] iriberri opened #355 "Supported formats "notes" don't have a referenced explanation in the text"
![image](https://cloud.githubusercontent.com/assets/1730320/9792348/fbe0208a-57df-11e5-8643-2c561cc2de44.png)

The asterisks in the formats do not have an explanation in the text below.

For example:

* CSV format blablabla
** Shapefile format blablabla

It seems that the asterisk for Shapefile, for example, is being treated as Markdown italics letters. The whole text below the section is in itali

[2015-09-10 15:56] andrewxhill commented on #221
Okay, to me it looks like it ocmes form here,

https://github.com/CartoDB/docs/blob/master/_config.yml

So if the problem is where you see,

[code]

I see that in _config.yml there is a different variable just called, 'url' that is correctly docs.cartodb.com. So I would change it to,

[code]

[2015-09-10 16:42] csobier commented on #330
Changed milestone to Future Community.  This file structure change cannot be implemented until the Doc is redesigned.  I was instructed that any new content must be inserted into the current structure until we migrate to a new system :-(

[2015-09-10 17:02] csobier commented on #327
Changed milestone to Future Community. I was instructed that any file structure changes must wait until we migrate to a new system :-(

[2015-09-10 18:12] csobier opened #357 "Update FAQ to include new Journalism page"
When the new Journalism page is completed and available:
- add the link to the new page to this issue
- reassign to me

I will update the related [FAQ](http://docs.cartodb.com/faqs.html#are-there-special-plans-for-journalist-and-news-media-on-cartodb) when completed.

[2015-09-10 19:42] csobier opened #358 "Add section about the layout of the dashboard and an overview of options"
CartoDB Editor (home)
#H1- Overview
#H1- Add "Getting Started" section
##H2- Description of dashboard menu items, and other UI options, available from the Editor (public profile, account, close session, different toolbars, and so on)

[2015-09-11 12:32] csobier opened #359 "duplicate map' option in the dashboard view + 'change view' in the options menu in the editor view"
Adding 'duplicate map' option in the dashboard view + 'change view' in the options menu in the editor view [#5487](https://github.com/CartoDB/cartodb/pull/5487)

No milestone assigned.

[2015-09-11 16:01] csobier opened #360 "Add doc for Static Maps API"
I've heard about the Static Maps API but don't see any related doc.  Creating this placeholder to insert this into the doc.

[2015-09-14 11:45] iriberri opened #362 "Named maps tutorial feedback from Windows user:"
http://docs.cartodb.com/tutorials/named_maps.html

[2015-09-14 11:56] csobier opened #363 "Update Edit menu options and Dashboard view options"
Product updated the Edit menu options and the dashboard menu options.  All doc images and procedures need to be updated to reflect these changes (Change are already live so we will not be in sync. Sigh. I'm assigning to the next milestone.
- [Product issue #5178](https://github.com/CartoDB/cartodb/issues/5178#event-408386527)
- [Product issue #5487](https://github.com/CartoDB/cartodb/pull/5487#eve

[2015-09-14 12:58] matallo commented on #363
we'll totally have to rethink and streamline the process so all these images are in sync, don't worry, we'll tackle that soon and sorry for the current inconvenience :(

[2015-09-14 13:11] csobier commented on #363
It's okay, happy to help improve the workflow :-)  (So far, I am manually copying the Product milestones to the Docs repo but there must be a way to automate this process so that there is more transparency). I will have this issues closed by the assigned Doc milestone.

[2015-09-14 13:28] csobier commented on #354
Merged in PR#364

[2015-09-14 13:28] #354 closed

[2015-09-14 13:28] csobier commented on #355
Merged in PR#364.

[2015-09-14 13:28] #355 closed

[2015-09-14 16:17] #254 closed

[2015-09-14 17:42] csobier commented on #345
As per @MariaCheca, some of these features are still in Development for this Sprint . She will ping me when completed. Product is still targeted for tomorrow's [release](https://github.com/CartoDB/cartodb/milestones/Torrelodones).
As a result, doc will not be in sync. I will have to reassign this issue to a new milestone when notified of completed Development...

[2015-09-14 18:16] csobier commented on #241
I am not sure where this content came from (also related to the *new-items* branch?) I am worried about this content being merged with the Doc changes/format that I have already applied.  Let me know how I can help?
- I have described the available external data services in the CartoDB Editor / [Connect a Dataset](http://docs.cartodb.com/cartodb-editor.html#connect-dataset) procedure
- Let me know

[2015-09-14 18:42] csobier opened #365 "Move "Connecting to External Twitter Data""
Move this section as a Reference topic within the Datasets doc- the current location/naming is out of place.

[2015-09-15 08:31] erodespons commented on #241
@andrewxhill ?

[2015-09-15 09:23] matallo commented on #241
also, take into account we may be already communicating some of this here, if any it should be more dev oriented https://cartodb.com/data

[2015-09-15 14:04] andrewxhill commented on #241
actually, this is quite old now. since then @vhamer worked on that data landing page. i'd rather drop this and think of just simple ways to supplement the work in /data.

[2015-09-15 14:14] csobier commented on #241
Okay, sounds good to me.  I am closing this issue in the Docs repo.
If this data page requires content changes, that is a different repo (the [website](https://github.com/CartoDB/website) repo).

[2015-09-15 14:14] #241 closed

[2015-09-15 16:44] csobier commented on #365
Closing as per PR #367.  (I am limited in how I can organize headings and new files in markdown so I will change the location again once the Docs file structure is improved).

[2015-09-15 16:44] #365 closed

[2015-09-16 10:06] andrewbt opened #368 "Remove mentions of Oauth support in SQL API and other docs locations"
cc @javisantana @CartoDB/solutions

Apparently we don't actually support Oauth, we support XAuth, and it's only a partial support at that. We should remove our mentions of OAuth from the docs until we actually support it.

http://docs.cartodb.com/cartodb-platform/sql-api.html#oauth

[2015-09-16 12:03] csobier commented on #368
Tagging @MariaCheca, stayed tuned to this issue and let me know if this will affect the Account options (OAuth credentials)?

[2015-09-16 12:26] csobier opened #369 "Create a script for generating a printable version of the docs"
I need a printable version of the docs.  For example, I have some work-in-progress branches that I need my team to review.
Ideally, I can generate and save a local PDF, or something similar, so that they can view my changes and questions.

[2015-09-16 12:34] danicarrion commented on #368
actually, if we don't support xAuth, we could even hide the client/secret pair from user settings in the editor? // @javisantana

[2015-09-16 12:39] javisantana commented on #368
For me we should remove everything related to oauth until we ensure it works and have the pretty basic funcionallity

[2015-09-16 12:44] danicarrion commented on #368
ok, the only problem I see, now that I think about it, is that there _may_ be people already using it

[2015-09-16 12:50] andrewbt commented on #368
I know for a fact Cloudsherpas is, or at least they have tested solutions
with it (and are assuming it is "3-legged Oauth" and not "Xauth") They keep
wishing we had 2-legged Oauth, actually

On Wed, Sep 16, 2015 at 2:44 PM, Dani Carrión <notifications@github.com>
wrote:

--
Andrew Thompson, Solutions Engineer

*CartoDB* | 143 Roebling St, 2A, Brooklyn, NY 11211
athompson@cartodb.com | T +1 508.333

[2015-09-16 13:22] danicarrion commented on #368
ok, so let's just wipe it away from the docs, then

[2015-09-16 13:44] csobier commented on #368
Okay, so the requirement is to remove all mention of OAuth credentials from the doc. This will effect SQL API doc, CartoDB Editor doc, and FAQ's.

I will assign to myself and update the doc once Product removes the [related feature](https://github.com/CartoDB/cartodb/issues/5552) (no milestone).

[2015-09-16 15:11] #369 closed

[2015-09-16 15:25] csobier commented on #369
:+1: So happy, thank you!!!

[2015-09-17 14:21] andrewxhill commented on #330
hey, after our meeting last we, we decided not to stop this right? we are going to push forward without letting the file structure stop us.

[2015-09-17 14:21] andrewxhill commented on #330
we should target next thursday for deployment, to alight https://github.com/CartoDB/cartodb-management/issues/4226#issuecomment-141006320

[2015-09-17 14:24] csobier commented on #330
Yep, I've got a ton of content that needs review.  Just adding the final comp-op descriptions....  I have this  targeted for the Cabra del Santo Cristo release. (Sept.29th)

[2015-09-17 14:30] andrewxhill commented on #330
Okay, that makes sense. Let's assess on Monday how close you are and if it can be accelerated or we are too far off. Thanks!

[2015-09-18 11:56] csobier commented on #156
@andrewxhill Is there still a doc requirement here?

[2015-09-18 14:14] csobier opened #372 "User Account / Profile / Available for Hire"
Product changed UI content [#5548](https://github.com/CartoDB/cartodb/pull/5548#issuecomment-140990664). Update related doc image and description.

[2015-09-18 14:16] csobier commented on #353
Closing. Changes applied with PR #371.

[2015-09-18 14:16] #353 closed

[2015-09-18 16:28] csobier commented on #359
Doc updated to reflect these changes in PR #373

[2015-09-18 16:28] #359 closed

[2015-09-18 16:29] csobier commented on #363
Changes merged with PR #373

[2015-09-18 16:29] #363 closed

[2015-09-18 17:15] csobier opened #374 "Add Glossary to the Docs"
We are looking into a new Doc tool that supports the ability to create/maintain a [glossary of terms](https://github.com/CartoDB/website/wiki/Stylish-Writing-Guide#list-of-technical-terms).

For the moment, we are collecting a list of terms in the Style Guide.  I'll create terms/definitions once glossary capability is supported.

[2015-09-18 20:43] csobier commented on #348
Updates merged with PR #375.

[2015-09-18 20:43] #348 closed

[2015-09-21 12:01] csobier commented on #103
@iriberri Is this issue still applicable?  There is a Label text option available from the Wizard.  Or is this feature to describe how to customize label text?

[2015-09-21 12:04] iriberri commented on #103
I'd close this. This applies for the label text option available in the wizard, and besides that, we don't have recurrent questions about this, so I think it's not worthy.

[2015-09-21 12:04] #103 closed

[2015-09-21 12:08] csobier commented on #103
:+1:

[2015-09-21 15:31] csobier opened #376 "Update CartoDB Sidebar doc"
Most sections in the [CartoDB Sidebar](http://localhost:9000/cartodb-editor.html#cartodb-sidebar) doc need to be rewritten.  I created this issue a ToDo placeholder for myself.

- [x] I am currently rewriting Wizards (#332), reported in a separate issue.
- [x] Also, the CartoCSS content is also currently in review and will be published in another branch (#265, #3959, #4012).

[2015-09-21 20:38] andrewxhill opened #377 "Direct image filters"
I've removed this,

https://github.com/CartoDB/docs/commit/10e2b428a9d83e1d04c791ddeefc1d43d938f7c3

will it ever work in CartoDB, or should it work? @javisantana

[2015-09-22 11:16] xavijam opened #378 "Docs icon is outdated"
<img width="102" alt="screen shot 2015-09-22 at 13 16 09" src="https://cloud.githubusercontent.com/assets/132146/10017113/245a32a8-612c-11e5-92ca-516532efc314.png">

[2015-09-22 13:12] #378 closed

[2015-09-22 19:53] csobier commented on #345
Merged with PR#361

[2015-09-22 19:53] #345 closed

[2015-09-22 19:54] csobier commented on #372
Merged with PR#361

[2015-09-22 19:54] #372 closed

[2015-09-22 19:54] csobier commented on #168
Merged with PR#361

[2015-09-22 19:54] #168 closed

[2015-09-23 16:24] csobier opened #381 "Add multi-style parameters to the CartoCSS doc"
As per @namessanti, add multi-style parameters to the CartoCSS doc. For example:

`table_name::glow`
`table_name:highlight`

*Note:* CartoCSS doc is being implemented in phases, as we continue to enhance the docs. I will assign a milestone for this issue after the first phase of CartoCSS content is released.

[2015-09-23 16:52] csobier opened #382 "Add list of weights that can be applied to font families w/CartoCSS"
The CartoDB Editor currently supports the following [fonts](http://docs.cartodb.com/cartodb-editor.html#supported-fonts) through the wizard. The requirement is to document the supported weight formats that can be applied to these font families through CartoCSS.

As per @makella , you can use each weight from each supported family through cartocss. So even though in the wizard the only option for D

[2015-09-23 19:06] andrewxhill commented on #330
Here is the information for what runs in Torque CartoCSS.

https://github.com/CartoDB/torque-reference/blob/master/1.0.0/reference.json

It is a bit technical, but we can sit down and parse it together if that would help

[2015-09-23 22:28] csobier commented on #332
Changed merged with PR#383.

[2015-09-23 22:28] #332 closed

[2015-09-24 10:05] xavijam opened #384 "JSFiddles linked from CartoDB docu don't show anything"
Hi,

I was trying to show some colleagues how to use CartoDB.js with the JSFiddle examples I used some time ago to learn, and they don't seem to work anymore. This is the doc site that links to them, and this is the list of links that once showed some data, but don't anymore:

http://jsfiddle.net/gh/get/library/pure/CartoDB/academy/tree/master/t/03-cartodbjs-ground-up/lesson-2/jsfiddle_demo_ondone

[2015-09-24 10:08] matallo commented on #384
hey @raquel-ucl they are working for me, can you give us some more info on the errors that would appear in the developer tools?

If you don't mind I'm closing the issue, but feel free to comment so we will try to find the cause

Cheers!

[2015-09-24 10:15] raquel-ucl commented on #384
Hey there.

Gosh, you are so quick!
I've tried from my computer and my colleague's with Safari and Chrome.
These are the errors from the Dev Tools:

[code]

Hope this helps! And apologies if it's me doing something wrong 0:-)

[2015-09-24 10:17] matallo commented on #384
Uhm, I'll reopen again for investigating further and come back hopefully with an answer, thanks for sharing!

[2015-09-24 10:58] raquel-ucl commented on #384
This is a bit off, but I've just realised if I remove the alert sentences from the examples, the links work.

[2015-09-24 18:14] csobier opened #385 "Add shield-wrap-character `string` example- CartoCSS"
We need our own CartoDB example for this parameter.  @makella to the rescue!

##### shield-wrap-character `string`

------------ | -------------
Description | Enables you to wrap text with a character, rather than with a space. This is especially useful for long text names.
Sample CartoCSS Code | `shield-wrap-character: '_';`
Default Value | `undefined
Available Values | See [string](#string).
Rel

[2015-09-24 18:18] csobier opened #386 "Add line-pattern-file `uri` example- CartoCSS"
We need our own CartoDB example for this parameter. (Thank you @makella!)  I will add your example to the docs.

##### line-pattern-file `uri`

Description | A defined image file that renders the pattern of a line. The image repeats along the line.
Sample CartoCSS Code | `line-pattern-file: ur(cliff.png);`
Default Value | none
Available Values | See [uri](#uri).
Related Examples | [Cliff lines](ht

[2015-09-24 18:20] csobier opened #387 "Add shield-halo-fill `color` example- CartoCSS"
We need our own CartoDB example for this parameter. (I will add the example that @makella provides to the docs)

##### shield-halo-fill `color`

------------ | -------------
Description | Specifies the color of the halo around the text.
Sample CartoCSS Code | `shield-halo-fill: #FFFFFF;`
Default Value | `#FFFFFF`, the halo color is white by default
Available Values | See [color](#color).
Related E

[2015-09-24 18:41] makella commented on #387
![screen shot 2015-09-24 at 12 38 49 pm](https://cloud.githubusercontent.com/assets/1566273/10082914/4f305532-62b9-11e5-9a26-5b87e91beca5.png)

[code]

[2015-09-24 18:46] makella commented on #385
![screen shot 2015-09-24 at 12 42 58 pm](https://cloud.githubusercontent.com/assets/1566273/10083064/f41d435c-62b9-11e5-95d7-236dab5f4a9c.png)

[code]

[2015-09-24 20:00] makella commented on #382
These should get better and we shouldn't recommend the use of all fonts on maps (ex: Lato Hairline), but here is a visual list of what's supported right now (minus unifont Medium which I can't find):
![visual-fonts](https://cloud.githubusercontent.com/assets/1566273/10085139/8c5a1172-62c4-11e5-92ae-996b743cf440.jpg)
Also referenced here: https://github.com/CartoDB/cartodb-platform/issues/1123

[2015-09-25 13:43] csobier commented on #362
@iriberri , is the requirement to change all the curl commands in this tutorial to double quotes, or to add a note about using double quotes if you are doing the tutorial on a windows operating system?

[2015-09-25 14:13] iriberri commented on #362
The second one :)

[2015-09-25 16:16] matallo commented on #143
after being reported in website, I think academy is a better place for this, lol

[2015-09-25 16:24] #143 closed

[2015-09-25 16:25] matallo commented on #66
we're probably redoing this soon

closing, then

[2015-09-25 16:25] #66 closed

[2015-09-25 16:27] #57 closed

[2015-09-25 16:39] #5 closed

[2015-09-25 16:40] #6 closed

[2015-09-25 16:40] #8 closed

[2015-09-25 16:41] #10 closed

[2015-09-25 16:42] #13 closed

[2015-09-25 16:46] #15 closed

[2015-09-25 16:47] matallo commented on #322
we should start moving these to academy

[2015-09-25 16:48] #118 closed

[2015-09-25 18:05] csobier opened #390 "Update Merging Datasets content"
As per issue #322 (moved to Academy repo as per @matallo's comment). Created this issue a placeholder for required updates to the docs.

[2015-09-25 18:05] csobier commented on #322
Closing issue in Docs and added to Academy repo.

**Note**: I've assigned a new issue #390 to myself to update the [Merging Datasets](http://docs.cartodb.com/cartodb-editor.html#merging-data) doc in the CartoDB Editor.

[2015-09-25 18:05] #322 closed

[2015-09-25 18:43] csobier commented on #377
@andrewxhill , is `direct-image filters`not working because it is a bug, or by design?  (We removed from the docs, CartoCSS parameters, for the time being).

I need to know if I should add this issue to a future milestone if they are going to support this?  (Ditto for the other items we removed... I know product is working on one of them, i.e. `background-color`; they should link the issue to docs

[2015-09-25 19:41] andrewxhill commented on #377
@javisantana

[2015-09-25 19:41] andrewxhill commented on #377
or maybe @rochoa

[2015-09-28 12:18] #362 closed

[2015-09-28 23:44] csobier commented on #382
I updated the Supported Fonts formats in PR #388.  I still need to include a snapshot of each of these fonts as a future enhancements (once we get confirmation about all the supported fonts).

[2015-09-29 10:17] iriberri opened #391 "Retweets maps is broken in CartoDB Editor docs"
https://github.com/CartoDB/docs/blob/master/cartodb-editor.md

![image](https://cloud.githubusercontent.com/assets/1730320/10161362/e3319532-66a3-11e5-947c-06c4e5a7c9fd.png)

It is pointing to https://github.com/CartoDB/docs/blob/master/img/layout/cartodb-editor/twitter_2.png which does no longer exist.

It was removed in this commit: https://github.com/CartoDB/docs/commit/af58edde5a960b7cffb5415f

[2015-09-29 12:04] #391 closed

[2015-09-29 16:56] csobier commented on #377
ping

[2015-09-30 10:28] matallo commented on #156
two things here: cartocss (which is being covered in its own PR https://github.com/CartoDB/docs/pull/388)
and torque (that if I'm not wrong should be the content of https://github.com/CartoDB/torque/blob/master/doc/API.md)

we should have this for Torque landing page in the commercial website @csobier

[2015-09-30 12:01] csobier commented on #377
Assigning to the next milestone, hopefully we'll get an answer before the next release???

[2015-09-30 12:28] csobier commented on #156
@andrewxhill , I am reassigning this issue to the next milestone. Can you clarify what the documentation requirement is for the Docs site?  Should the github resource, mentioned above, be added to the SQL API doc?  Please advise.

[2015-09-30 12:39] csobier opened #393 "Add Comp-Op color blending values and images"
There is a general overview of the CartoCSS comp-op effects in the doc, "CartoCSS Composite Operations" (PR#388).  I need to include descriptions of values, and add sample images, to complete this section.

*Once the related [Academy lesson](https://github.com/CartoDB/academy/pull/230) is complete, I can use that as resource material.  I'm creating this issue as a placeholder to remind me to updat

[2015-09-30 16:59] csobier commented on #265
Content merged in PR#388

[2015-09-30 16:59] #265 closed

[2015-09-30 17:09] csobier opened #394 "Add `-torque-clear-color` to CartoCSS doc"
Related to CartoDB Management repo, [issue 4012](https://github.com/CartoDB/cartodb-management/issues/4012):

I have not seen -torque-clear-color in CartoDB? I need confirmation if this works and should be added to the doc?

[2015-09-30 17:23] #376 closed

[2015-09-30 19:00] matallo opened #397 "better style tables"
current markup is ok, but the aspect is a bit messy

http://docs.cartodb.com/cartodb-editor.html#cartocss-properties

/cc @piensaenpixel @carlostallon @csobier

[2015-09-30 19:02] csobier commented on #397
@matallo , same issue as #342

[2015-09-30 19:23] matallo commented on #397
yeah, I'm leaving it anyway, former issue is only the headings and would be a bug

for this format to work we need to redesign a bit the tables IMO

[2015-09-30 19:33] csobier commented on #397
I would love to be able to create custom style tables (just like using an editor!)  :-)  Any enhancements you can add to the markdown code would be an improvement.

[2015-09-30 19:53] csobier commented on #92
@axh, I created a new procedure describing how to [Create an Empty Dataset](http://docs.cartodb.com/cartodb-editor.html#create-an-empty-dataset).  I also created the "[Add Feature](http://docs.cartodb.com/cartodb-editor.html#add-feature)" content and added to the docs, which describes this.

Let me know if there is a method to add points, lines, and polygons using the Data View (besides just addin

[2015-09-30 22:15] csobier commented on #133
@andrewxhill or @iriberri , Can you verify the edits below?  I need to confirm some syntax details before updating in the doc.

**Here is the original code:**
[code]

**Here is the edited code and a note that I will add:** Based on Pramsey's example, please confirm:
- Should "geom" appear after ORDER BY clause and before the distance operator?
- Should a semi-colon be added after the LIMIT value?

[2015-10-01 09:56] matallo opened #398 "move cartocss docs to /platform"
per @javisantana request, and I agree

[2015-10-01 10:23] iriberri commented on #133
Nope, sorry. Notice that you're not comparing the_geom with anything in your syntax.

You'd need:

[code]

Or, if you're not interested in showing the distance itself, you can discard it in the SELECT statement and just do:

[code]

Hope this helps.

[2015-10-01 11:54] csobier commented on #398
This is a dup of #330, since I am unable to change the current file structure, I was told to add this to the bottom of the Editor.

[2015-10-01 12:03] #398 closed

[2015-10-01 12:50] #133 closed

[2015-10-01 13:31] csobier opened #400 "Add `background-color` to CartoCSS doc"
We removed from the CartoCSS doc, as we were getting errors.

Related to product issue#5685, https://github.com/CartoDB/cartodb/issues/5685.  If/when the code supports this, we need to add to the docs.

[2015-10-01 13:53] csobier opened #401 "Unsupported Comp-op Color Blending Values?"
As per Steph's review of the "[Composite Operation Color Blending Values](http://docs.cartodb.com/cartodb-editor.html#composite-operation-color-blending-values)" doc.
- `Divide`, `linear-dodge` & `linear-burn` can't be used in our system.
- [x] I will remove these from the docs for now.

- I couldn't find documentation for "clear" as a color blend mode, did u? Asking b/c it looks like alpha blend

[2015-10-01 13:53] csobier commented on #401
@ztephm - Since she was the original reporter :-)

[2015-10-01 14:03] csobier opened #402 "Is Raster a supported CartoCSS symbolizer?"
As per @ztephm Steph's review of the CartoCSS doc:
http://docs.cartodb.com/cartodb-editor.html#cartocss-symbolizer-properties

Does raster apply? We can't use it in the Editor, & we might only be able to use them with code via Leaflet like this: http://bl.ocks.org/jorgeas80/4c7169c9b6356858f3cc or this: http://bl.ocks.org/rochoa/d3cf809120bda97d0826

@rochoa @fdansv Please advise.

[2015-10-01 14:05] rochoa commented on #402
Raster is supported in CartoCSS, as per the examples linked above, but there is no support at editor level.

[2015-10-01 14:11] csobier commented on #402
Also related:
Doesn't work for raster?
Also FYI if you apply the comp-op to a raster-filled layer via wizard it
won't work (it uses polygon-comp-op automatically)...ALTHO using
"polygon-pattern-comp-op" or just "comp-op" applied to whole layer in CSS
panel instead does.

So do we remove Raster from the CartoCSS doc?

On Thu, Oct 1, 2015 at 10:05 AM, Raul Ochoa <notifications@github.com>
wrote:

--

[2015-10-01 14:11] andrewxhill commented on #92
nope, no way to do it really in the data view. for a point you could add a row and then enter the lat/lon in the_geom field, but it's a bit complicated

[2015-10-01 14:11] fdansv commented on #401
To me the question is whether we are maintaining a CartoCSS reference or a CartoCSS in CartoDB reference. If our intention is to provide the community with authoritative documentation those blending modes should be included. While we're not using them in CartoDB, they're being used in Tilemill and other possible applications of Carto.

[2015-10-01 14:14] csobier opened #403 "CartoCSS map background and string elements not supported?"
As per @ztephm Steph's review of the CartoCSS doc:
http://docs.cartodb.com/cartodb-editor.html#map-background-and-string-elements

Where are these applied? I get "invalid" or "not allowed" errors when I try to use background-image, background-image-comp-op, background-image-opacity inside Map{} or #layer{} CartoCSS blocks in the Editor.

I know [`background-color`](https://github.com/CartoDB/carto

[2015-10-01 14:15] rochoa commented on #402
Why should we remove raster from CartoCSS doc?

I don't understand what you mean by:

AFAIK you cannot use a raster layer within the editor.

[2015-10-01 14:17] csobier opened #404 "`polygon-simplify-float` CartoCSS error?"
As per @ztephm Steph's review of the CartoCSS doc:
http://docs.cartodb.com/cartodb-editor.html#polygon-simplify-float

Throwing "Unrecognized rule" error inside line layer cartocss block

@rochoa @fdansv Please advise if this is supported, or should be removed from the doc?

[2015-10-01 14:18] csobier opened #405 "`line-simplify-float` CartoCSS error?"
As per @ztephm Steph's review of the CartoCSS doc:
 http://docs.cartodb.com/cartodb-editor.html#line-simplify-float

Throwing "Unrecognized rule" error inside line layer cartocss block

@rochoa @fdansv Please advise if this is supported, or should be removed from the doc?

[2015-10-01 14:20] csobier opened #406 "`line-simplify-algorithm-keyword` CartoCSS error?"
As per @ztephm Steph's review of the CartoCSS doc:
 http://docs.cartodb.com/cartodb-editor.html#line-simplify-algorithm-keyword

Throwing "Unrecognized rule" error inside line layer cartocss block

@rochoa @fdansv Please advise if this is supported, or should be removed from the doc?

[2015-10-01 14:43] csobier commented on #92
Okay, your call.  If you want to dump any details here, I'll translate it in end-user terms. Or, is this something that should be a future Academy lesson?

Otherwise, if the above content satisfies this doc requirement, you can close this issue.

[2015-10-01 14:47] matallo opened #407 "child issue 1"

[2015-10-01 14:47] matallo opened #408 "child issue 2"

[2015-10-01 14:47] matallo opened #409 "master issue example"
- [x] child issue 1 https://github.com/CartoDB/docs/issues/407
- [ ] child issue 2 https://github.com/CartoDB/docs/issues/408

[2015-10-01 14:54] #407 closed

[2015-10-01 15:43] andrewxhill commented on #92
yeah, i think it is good for now and we can explore in later iterations of the table view making it easier

[2015-10-01 15:43] #92 closed

[2015-10-01 15:56] #408 closed

[2015-10-01 16:00] #409 closed

[2015-10-01 16:03] csobier opened #410 "`-torque-frame-count` CartoCSS property undefined?"
As per @ohasselblad comment:
http://docs.cartodb.com/cartodb-editor.html#torque-frame-count-number

Is the default value really undefined or does it depend on input data?

@rochoa @fdansv Please advise, so that we can ensure the doc is correct.

[2015-10-01 16:06] csobier opened #411 "`-torque-animation-duration-number` CartoCSS value?"
As per @ohasselblad review of the CartoCSS doc:
http://docs.cartodb.com/cartodb-editor.html#torque-animation-duration-number

 0 indicates a large number, as in billions of seconds. fdansv knows

@fdansv , can you clarify so that I enhance the description and add more details?

[2015-10-01 16:08] csobier opened #412 "`buffer-size-float` CartoCSS default value?"
As per @makella comment on the CartoCSS doc:
http://docs.cartodb.com/cartodb-editor.html#buffer-size-float

check to make sure that buffer-size is default 0... i was talking with raul this morning and i thought he said the default is 64…

@rochoa , Please advise so that we can ensure the doc is correct.

[2015-10-01 16:12] csobier opened #413 "change 'point-file-uri` CartoCSS sample code"
@makella  , you suggested that the default sample code code be confusing.
http://docs.cartodb.com/cartodb-editor.html#point-file-uri

Can you provide me with an alternate example (and explanation) so that I can update the doc accordingly?

[2015-10-01 17:13] csobier commented on #81
@xavijam, Georeference content was updated with doc PR #347  (I only display the default georeference image, but describe each of the other sections). Closing issue.

[2015-10-01 17:13] #81 closed

[2015-10-01 17:29] csobier commented on #333
@iriberri , can I get more information about what the documentation requirements are for this issue?

[2015-10-01 17:40] csobier commented on #402
Great, good to know.  So what do you suggest?
Shall I add a note that the Raster CartoCSS properties are only supported when using the Maps API with CartoDB.js, and not with the CartoDB Editor?

[2015-10-01 17:52] csobier commented on #401
I believe the intention of this project was to include CartoCSS parameters that are supported with CartoDB.  This is now our internal documentation, as it applies to our product.  I hope this helps?

Also, regarding `clear` as a color blending mode, I have [another issue](https://github.com/CartoDB/docs/issues/394) about not being able to find this for Torque too.  Any ideas?

[2015-10-01 18:34] andrewxhill commented on #406
confirmed for me

[2015-10-01 18:35] andrewxhill commented on #405
confirmed for me

[2015-10-01 18:35] andrewxhill commented on #404
confirmed for me

[2015-10-01 18:36] andrewxhill commented on #402
yes, that note would be perfect

[2015-10-01 19:45] csobier opened #415 "Need to figure out how to show/format CartoCSS examples?"
The next phase of the CartoCSS doc update is to start including references of CartoCSS examples (for single properties, multi-style properties, and multi-layers).
- Blockpages are ideal but there is not a consistent format.
- Also, I already have some public maps examples to reference, but I need to include the related CartoCSS syntax somehow.  I do not want to add a ton of code blocks to the Cart

[2015-10-01 21:00] ztephm commented on #403
Maybe I'm applying them incorrectly?

![screen shot 2015-10-01 at 4 56 53 pm](https://cloud.githubusercontent.com/assets/1779444/10233611/8aef3440-685d-11e5-8817-ef20091998b3.png)

![screen shot 2015-10-01 at 4 56 30 pm](https://cloud.githubusercontent.com/assets/1779444/10233615/9085dff8-685d-11e5-9515-8c39e9313cd1.png)

[2015-10-01 21:17] ztephm commented on #401
hi, to clarify:

* **clear** works but we have it documented as a color composite operation instead of an alpha composite operation. Its effect looks like alpha comp-op to me but I can't tell exactly what it sh/be from this: http://www.w3.org/TR/2009/WD-SVGCompositing-20090430/#comp-op-clear

* i tested divide, linear-burn & linear-dodge in Editor only:
![screen shot 2015-10-01 at 5 03 46 pm](http

[2015-10-01 21:44] ztephm commented on #402
Sorry I should've been more clear! I meant "raster-filled layer" differently than regular raster layer.

"raster-filled layer" = layer of polygons where polys use jpeg or png image fill

1. In polygon layer's Simple Wizard click IMG button next to Polygon Fill, upload a png, click Set Image
2. In Simple Wizard's Composite Operation pulldown select "multiply"

There's no visible effect on the polyg

[2015-10-02 08:07] matallo commented on #415
@carlostallon write this down when designing new docs

[2015-10-02 08:57] carlostallon commented on #415
roger

[2015-10-02 10:09] iriberri commented on #333
We might be mentioning `created_at` and `updated_at` columns in the docs. Since some weeks ago, when you import a table to CartoDB these timestamp columns are no longer created automatically.

Probably is just a matter of removing some mentions to them if they exist. In case it is said somewhere that "these columns are created blablabla", this would no longer happen. :-)

One appearing in the exam

[2015-10-02 12:14] csobier commented on #333
There are a lot of syntax examples and some actual mentions of them in the
Import API and Maps API doc.  What is the suggested strategy?  Remove them
or add notes?

For example:
http://docs.cartodb.com/cartodb-platform/import-api.html#sync-tables
http://docs.cartodb.com/cartodb-platform/import-api.html#params-4
http://docs.cartodb.com/cartodb-platform/import-api.html#response-9
http://docs.cartodb

[2015-10-02 13:00] iriberri commented on #333
http://docs.cartodb.com/cartodb-platform/import-api.html#sync-tables
http://docs.cartodb.com/cartodb-platform/import-api.html#params-4
http://docs.cartodb.com/cartodb-platform/import-api.html#response-9
http://docs.cartodb.com/cartodb-platform/import-api.html#example-8

These ones are ok. They don't refer to the updated_at and created_at columns, but to the metadata of the created tables.

http://

[2015-10-02 14:07] csobier commented on #333
Excellent, thanks Carla! I'm just identifying a list of areas that require doc updates:

 - [ ] SQL API, **remove these lines from the response formats section**
http://docs.cartodb.com/cartodb-platform/sql-api.html#response-formats

`created_at: "2012-02-06T22:50:35.778Z",`
     ` updated_at: "2012-02-12T21:34:08.193Z",`

- [ ] Tips & Tricks, **Replace this section**
http://docs.cartodb.com/tips-

[2015-10-02 14:14] iriberri commented on #333
Thanks :revolving_hearts:

[2015-10-02 14:59] csobier opened #418 "`marker-placement-keyword` CartoCSS property with multi-geometries?"
A comment by @ztephm , that I need some clarification about.

http://docs.cartodb.com/cartodb-editor.html#marker-placement-keyword
How does this work with SQL? Meaning how do the point(s) know to plot along a line? I am only asking since the Editor cannot have points and lines in the same layer.

@rochoa @fdansv , please advise so that we can ensure the description is correct and makes sense.  Als

[2015-10-02 15:55] makella commented on #413
@csobier sure.

in cartodb when you choose an image, you get an external url. the reference above makes it look like you can point to an image file on your local machine `url(images/image.png)` and use that in your map. an easy fix would be to put a generic url `point-file: url(http://www.image.com/image.png);` in the cartocss example.

[2015-10-02 16:02] ztephm commented on #418
Hi, to clarify I was looking at:
"Note: If placing markers on a line, markers appear multiple times along a line. You can apply 'interior' to ensure correct placement on a line. Points placed on polygons are forced to be inside the polygon interior."

I wasn't sure how markers are "placed on a line" since only one type of geometry is allowed per layer in the Editor.

Does our system automatically

[2015-10-02 20:13] csobier commented on #402
I added this note to the Raster CartoCSS properties table.  Thanks
I just need confirmation about the described behavior in this issue, in case it leads to other documentation requirements.

[2015-10-02 20:40] csobier commented on #382
Mamata updated this list!!!  Thanks Mamata!
![visual-fonts](https://cloud.githubusercontent.com/assets/1566273/10250826/00d2cf62-68e2-11e5-9658-76c7b95dee61.jpg)

I updated the supported fonts accordingly and published with PR #420.

[2015-10-02 21:44] csobier commented on #413
Excellent, I will apply your example as the Sample CartoCSS code instead.  Thank you!

Additionally, I think it's worth noting in the URI value section of the doc, if this applies to all CartoCSS images in CartoDB.  http://docs.cartodb.com/cartodb-editor.html#uri
- Can you verify if the description (see link) is correct? (it suggest using quotes.  Is that correct?)
- Would the following note be tr

[2015-10-05 13:50] csobier commented on #412
@rochoa Please advise what the default value should be so we can ensure the doc is correct.

[2015-10-05 13:55] fdansv commented on #377
To the best of my knowledge, we're not supporting this anywhere and there are no plans of doing so. `image-filters` in torque, however, are applied directly to the whole canvas, so bear in mind that in a small part of our carto usage, `image filters` behaves as `direct-image-filters`. This however doesn't mean we should use it, so to me deleting it from the reference is fine.

[2015-10-05 13:58] csobier commented on #377
`direct-image-filters` already removed from the CartoCSS doc. I am closing this issue, as there are no plans to support this. Thank you!

[2015-10-05 13:58] #377 closed

[2015-10-05 14:36] csobier commented on #413
@makella , I updated all the code for URI parameters.  I just need confirmation about adding quotes? and if the note is correct?

url('http://com.cartodb.users-assets.production.s3.amazonaws.com/patterns/diagonal_1px_med.png');`

[2015-10-05 14:51] csobier commented on #386
I am getting an unrecognized error message when applying the `line-pattern-uri` parameter, @ztephm confirmed that she is also getting an error.

@rochoa @fdansv , Can you confirm if this parameter is supported (should work, keep in doc) of if this is a bug (report as product issue and remove from doc)?

[2015-10-05 14:59] csobier commented on #400
I confirmed with @javisantana that they are not planning on supporting this parameter anytime soon.  Since it has already been removed from the doc, I am closing this issue.  Thank you.

[2015-10-05 14:59] #400 closed

[2015-10-05 15:43] csobier commented on #393
good example, using alpha blending modes in addition to the orig color blend mode you want
`marker-comp-op: plus;
  comp-op: src-over;`

[2015-10-05 16:36] makella commented on #386
@csobier how are you writing it out in the editor? i was testing this last week and it was working for me

[2015-10-05 16:45] csobier commented on #418
As per my conversation with @saleiva , I am reassigning all open CartoCSS issues that need rochoa's input to a later milestone, as they have a high-priority deliverable that needs his attention.

[2015-10-05 16:56] makella commented on #386
it is working for me... this is an [ugly example](http://cdb.io/1MUojqO), but if you want to try:
[code]

[2015-10-05 19:56] ztephm commented on #386
ah i was trying line-pattern-uri instead of line-pattern-file. Works for me using line-pattern-file.

[2015-10-05 21:00] csobier commented on #394
TEST:

 "-torque-clear-color": {
            "css": "-torque-clear-color",
            "type": "color",
            "default-value": "rgba(255, 255, 255, 0)",
            "default-meaning": "full clear",
            "doc": "color used to clear canvas on each frame"
        },

[2015-10-06 07:53] fdansv commented on #411
This attribute will accept any positive number value, with no known upper limit. The default value is undefined because it's a required rule.

[2015-10-06 12:05] ohasselblad commented on #394
`-torque-clear-color

[2015-10-06 12:33] csobier commented on #411
Thanks!  I've slightly updated the definition of this parameter. Changes merged in PR #424

[2015-10-06 12:33] #411 closed

[2015-10-06 13:10] makella commented on #413
@csobier so you don't need the quotes... you can do something like this and it works fine:

[code]

[2015-10-06 13:12] makella commented on #413
oh sorry this is for `point-file` so you can do:
[code]

[2015-10-06 13:16] csobier commented on #413
Thanks for confirming.  It works with and without quotes, I was just wondering why it was mentioned (I'm going to remove this statement).  I will apply all these notes and update URI examples.  Thank you!

[2015-10-06 13:17] makella commented on #413
@csobier right... sure does!
and no problem!

[2015-10-06 13:44] #413 closed

[2015-10-06 14:14] csobier commented on #384
I cannot reproduce this behavior, it works for me too. I'm glad you were able to figure out a workaround so that you can use the examples in your environment! I will close this issue but certainly let us know if we can do anything else for you.

[2015-10-06 14:14] #384 closed

[2015-10-06 14:25] #382 closed

[2015-10-06 14:40] csobier commented on #415
Since Mamata confirmed that CartoCSS is not supported on CartoDB Blocks, we are leaning toward encouraging people to create JS Fiddle examples that I can reference....

[2015-10-06 14:50] javisantana commented on #394
this is kind of a hack I added, could we leave as a undocumented-but-nice feature?

[2015-10-06 14:57] ohasselblad commented on #394
what does it do/why is it nice?

[2015-10-06 15:32] csobier commented on #381
@namessanti , Should we discuss what these requirements are?  What kind of information were you hoping to include?

[2015-10-06 17:43] csobier commented on #386
Thanks for confirming Mamata. Would this JB Fiddle be okay to show, just for references purposes of a related example?
http://cartodb.github.io/labs-cdbfiddle/#https://csobier.cartodb.com/api/v2/viz/3db9be82-360a-11e5-9c46-0e018d66dc29/viz.json

[2015-10-06 19:20] makella commented on #386
no problem @csobier
if its only for reference purposes and internal, sure... if that map will be viewed by anyone outside, let's get a better line pattern! :)

[2015-10-06 19:27] csobier commented on #386
JB Fiddles are public, by design, so I would love a better line pattern if you've got one :-)

[2015-10-06 19:31] makella commented on #386
ok, i'll have to make one and test it out... that was a test i was doing a couple of weeks ago and it isn't right so when i have a better example, i'll share that.  but let's not use that example if we can help it!

[2015-10-07 12:19] csobier commented on #394
I am closing this issue, as there is no requirement to document this.  We can always re-open this issue if we decide to publicly support this.

FYI @ohasselblad, I made rambo share a sample so we can see why it's so nice :-)

https://rambo-test.cartodb.com/viz/b9bed4da-86ca-11e4-989b-0e4fddd5de28/embed_map

[2015-10-07 12:19] #394 closed

[2015-10-07 14:53] csobier commented on #387
@makella , I need JB Fiddle examples to display the output and CartoCSS code.  Are you using a Public dataset? (So that I can recreated this)

[2015-10-07 14:54] csobier commented on #385
@makella , I need JB Fiddle examples to display the output and CartoCSS code.  Are you using a Public dataset? (So that I can recreated this)

[2015-10-07 15:08] makella commented on #385
@csobier i made a fake dataset with a couple of points along a road and got a highway shield file and assigned the CartoCSS. I'll make a fiddle of the two and send them to you... likely later today.

[2015-10-07 16:21] iriberri commented on #82
@csobier closing this one ;)

[2015-10-07 16:21] #82 closed

[2015-10-07 17:41] #333 closed

[2015-10-07 19:45] csobier commented on #360
Found this:  http://docs.cartodb.com/cartodb-platform/maps-api.html#static-maps-api

[2015-10-07 21:14] matallo commented on #360
yep, that's exactly it (sorry I missed this post) so feel free to close this

[2015-10-08 12:13] #360 closed

[2015-10-08 14:11] makella commented on #387
@csobier
here you go:
http://cartodb.github.io/labs-cdbfiddle/#https://team.cartodb.com/u/mamataakella/api/v2/viz/ddfc8a58-6dc5-11e5-8b99-0ea31932ec1d/viz.json

[2015-10-08 14:12] makella commented on #385
@csobier here you go:
http://cartodb.github.io/labs-cdbfiddle/#https://team.cartodb.com/u/mamataakella/api/v2/viz/f542f554-62e3-11e5-a7a2-0e0c41326911/viz.json

[2015-10-08 14:38] csobier commented on #385
Fabulous, thank you!

[2015-10-08 14:38] #385 closed

[2015-10-08 14:38] csobier commented on #387
Thanks Mamata,  you rock!

[2015-10-08 14:38] #387 closed

[2015-10-08 15:37] makella commented on #386
@csobier let's use this example instead:
http://cartodb.github.io/labs-cdbfiddle/#https://team.cartodb.com/u/mamataakella/api/v2/viz/21560880-6dce-11e5-b0be-0ea31932ec1d/viz.json

looks better than the other ugly line pattern i had in the previous example!

[2015-10-08 15:48] csobier commented on #386
You are my hero, lovin the Fiddles!  Thanks.

[2015-10-08 15:48] #386 closed

[2015-10-08 15:49] makella commented on #386
:)

[2015-10-13 12:01] csobier commented on #393
Bumping this to the next milestone, as the Academy lesson is still not live.

[2015-10-13 12:02] csobier commented on #381
Bumping to the next milestone, as the original target for this Sprint is tomorrow.  Let me know what the doc requirements are, thank!

[2015-10-13 12:03] csobier commented on #156
ping

[2015-10-13 16:40] andrewxhill commented on #156
oop, sorry! so here is the torque doc

https://github.com/CartoDB/torque/blob/master/doc/API.md

i don't think we should add all of it, because it is generic (for use outside of cartodb). however, som bits of it are particularly useful even inside of cartodb.js apps, e.g.

https://github.com/CartoDB/torque/blob/master/doc/API.md#interaction-methods-only-available-for-leaflet

[2015-10-13 17:24] #368 closed

[2015-10-14 16:02] csobier opened #432 "Add (column_name) additions to CartoCSS -torque-aggregation-function"
Add (column_name) additions as an available [Torque Category](http://docs.cartodb.com/cartodb-editor.html#cartocss---torque-category-maps) value for the CartoCSS property `-torque-aggregation-function`

Info found in the ["More on the Torque unknown" blog](http://andrewxhill.com/blog/2015/04/17/torque-unknown/)

Specifically:
- Category maps that categorize
- Category maps that diverge

@andrewxhi

[2015-10-14 16:04] andrewxhill commented on #432
awesome!

On Wed, Oct 14, 2015 at 12:03 PM, csobier <notifications@github.com> wrote:

--

andrewxhill <http://twitter.com/andrewxhill>
http://cartodb.com

[2015-10-14 16:05] andrewxhill commented on #432
i don't think those were public data actually... so we might need to
recreate

On Wed, Oct 14, 2015 at 12:04 PM, Andrew Hill <andrewxhill@gmail.com> wrote:

--

andrewxhill <http://twitter.com/andrewxhill>
http://cartodb.com

[2015-10-14 16:21] csobier commented on #284
Reassigning to myself for the next milestone, as they are redesigning the Tutorials page.  (I already wrote similar documentation procedures for most of these steps so I will use them to create shared content for the tutorials).

[2015-10-14 17:20] csobier opened #433 "Hide "Fix Immediately" tutorials"
Please “hide” the **Fix Immediately** tutorials from [this list](https://github.com/CartoDB/cartodb-management/issues/3920), but not remove them, until we can properly update them.  (Note that two from the list are a work-in-progress and are assigned to existing issues- do not remove these).
- The tutorials will still appear in a Google search but will not be listed on the Tutorials page
- The sel

[2015-10-14 20:18] csobier commented on #415
Closing issue, links to JB Fiddle examples are working out well.  Anyone can reopen this issue if they have any questions/comments.  Thanks!

[2015-10-14 20:18] #415 closed

[2015-10-15 12:45] csobier opened #434 "Update Simple Points Map Tutorial"
From Fix Immediately Tutorials list:

 http://docs.cartodb.com/tutorials/simple_points_map.html
Screen caps and text

[2015-10-15 12:54] csobier opened #435 "Update Query by distance Tutorial"
From Fix Immediately Tutorials list:

 http://docs.cartodb.com/tutorials/query_by_distance.html (no video, phew, just need to change text instructions for how to access common data)

[2015-10-15 15:31] csobier commented on #156
Bumping to next milestone, as Andrew cannot review branch in progress until next week.

[2015-10-15 16:14] #397 closed

[2015-10-15 16:14] #342 closed

[2015-10-15 16:15] matallo commented on #202
to be done in redesign

[2015-10-16 17:33] #390 closed

[2015-10-16 22:43] #435 closed

[2015-10-19 19:42] andrewxhill commented on #432
Here is the dataset! https://team.cartodb.com/u/andrew/tables/twitter_burgerking_mcdonalds/public

[2015-10-19 23:43] #434 closed

[2015-10-20 12:34] csobier opened #442 "Add "Dataset too big (6666)" to the doc"
I came across the following error, Carla had to increase my maximum allotted disk quota to allow me to import.  I will add this to the [Error Codes and Solutions](http://docs.cartodb.com/cartodb-editor.html#error-codes-and-solutions) section.

![image](https://cloud.githubusercontent.com/assets/13319925/10606995/86c0f506-7704-11e5-97ed-b8679923c35e.png)

[2015-10-20 12:42] rochoa commented on #410
Default value is 128, as per https://github.com/CartoDB/torque-reference/blob/bc22ced9c73ffda071893e90b7c955bf54de8cf0/1.0.0/reference.json#L39-L45

[2015-10-20 13:07] rochoa commented on #418
Check this: https://github.com/CartoDB/mapnik-reference/blob/a9a4536116aa8b3e1fe6433b2c8da25321dc7f7d/2.3.0/reference.json#L746-L756

BTW, the editor might not support multiple geometries but we potentially support it (I say potentially because I'm not fully aware of all cases).

About how the transformation works: mapnik can change the way it renders a geometry based on the styling. So it can end

[2015-10-20 13:07] viddo opened #443 "Create docs for groups feature"
Since groups feature is now public we should probably also update the docs

[2015-10-20 13:08] viddo commented on #443
Didn't set any milestone, so I'll leave it to you to prioritize this as you see fit
Also @juanignaciosl is now back from vacation, so he can also give more info if necessary(?)

[2015-10-20 13:15] csobier commented on #443
Thanks, please link the product issue so I have an idea of what the GUI changes were.

[2015-10-20 13:27] viddo commented on #443
@csobier sure, updated the desc, see cartodb/cartodb#4883

[2015-10-20 14:25] rochoa commented on #410
But that value is set when parsing cartocss. OTOH windshaft imposes a default value of 64 when value is not set.

[2015-10-20 14:32] rochoa commented on #401
The supported values are the ones found in: https://github.com/CartoDB/mapnik-reference/blob/a9a4536116aa8b3e1fe6433b2c8da25321dc7f7d/2.3.0/reference.json#L868

I have the impression we took mapnik-reference version 3.0.0 as cartocss reference and that's why we keep seeing features that don't work in cartodb because we support up to version 2.3.0.

[2015-10-20 14:36] csobier commented on #410
@rochoa Does this work if I include both values as part of the description?

##### -torque-frame-count `number`
--- | ---
Description | Specifies the number of animation steps/frames in your torque animation.
Sample CartoCSS Code | `-torque-frame-count:128;`
Default Value | 128, the data is broken into 128 time frames when parsing CartoCSS. If the data contains a fewer number of total frames, a le

[2015-10-20 14:39] rochoa commented on #412
There are two options for buffer-size: per [map buffer-size](https://github.com/CartoDB/mapnik-reference/blob/a9a4536116aa8b3e1fe6433b2c8da25321dc7f7d/2.3.0/reference.json#L349-L355) and [per layer buffer-size](https://github.com/CartoDB/mapnik-reference/blob/a9a4536116aa8b3e1fe6433b2c8da25321dc7f7d/2.3.0/reference.json#L163-L168).

As you can see in above linked reference, default value is set to

[2015-10-20 15:06] rochoa commented on #410
Sorry, I mislead you with my previous comment (I left a comment here for another issue). Default torque-frame-count is 128.

p.s.: The 64 value was related to buffer-size issue.

[2015-10-20 15:15] csobier commented on #410
Ah, okay thanks.  Will leave 128 as default value, thanks for confirming.

[2015-10-20 15:22] rochoa commented on #410
yw! :smile:

[2015-10-20 20:38] ztephm commented on #418
OK @rochoa I see that you can apply that CartoCSS and the dataset's the_geom (ie: Line) doesn't change, but the rendering does (to Points). Thanks!

[2015-10-20 21:19] csobier commented on #401
- I moved "clear" to the list of alpha blending values, as per Steph.
- The other values above have already been hidden in the doc.

Otherwise, if Product supports the latest Mapnik version, we will update the doc again.  Thank you!

[2015-10-20 21:26] ztephm commented on #401
Technically clear is both b/c it gets rid of alpha & color info, but elsewhere it's included with the alpha blending modes.

[2015-10-21 12:33] csobier opened #446 "Update "Creating Indexes" content"
Update "Creating Indexes" content- it needs some editing and can be better explained.

http://docs.cartodb.com/cartodb-editor.html#creating-indexes

[2015-10-21 14:31] #442 closed

[2015-10-21 14:35] csobier commented on #381
Also tagging @auremoser , I would love to add a section about Advanced CartoCSS Methods.  Please link me to any use cases from your workshops, so I have some resource material. Any references you can share would be greatly appreciated!

[2015-10-21 17:32] matallo opened #448 "[cartodb.js] extend getBounds description if needed"
in cartodb.js repo, removed from other_stuff

https://github.com/CartoDB/cartodb.js/commit/581dd968cfe4c5e24d23c23321d16326c17b7597

feel free to close this

[2015-10-21 17:36] matallo opened #449 "[cartodb.js] include old reference to docs"
- [x] `doc/raster_howto.md`
- [x] `doc/metrics.md`

feel free to close and remove if not needed anymore

[2015-10-21 18:21] #432 closed

[2015-10-21 18:22] #410 closed

[2015-10-21 18:23] #401 closed

[2015-10-21 18:24] #412 closed

[2015-10-21 18:26] #418 closed

[2015-10-21 19:29] vhamer opened #451 "need an Attribution Requirements section in our docs"
Suggested language:

Attribution

When you publish a CartoDB map, you must include proper attribution. CartoDB incorporates data and basemaps that require attribution, regardless of your CartoDB plan.

**Automatic Attribution**
When you use CartoDB.js or choose a basemap in CartoDB, the proper attribution will be included by default in the map. You must not remove this attribution.

**Attributing

[2015-10-21 19:37] csobier commented on #451
Note that when you export an image with the CartoDB Editor, map attributions are automatically included.  I'll add a note that it must not be removed.

[2015-10-21 19:48] csobier opened #452 "Add "Best Practices Cartography Methods with CartoDB""
@andrewxhill , this would be a nice to have addition to the doc.
Please let me know what the doc requirements are, and where I can find resource material to use, for this content.  Assigning to the Future milestone for now.

[2015-10-21 20:11] vhamer commented on #451
great, thanks! might also mention that this is different from the cartodb
branding, which is removable on some cartodb plans. i forgot to mention
that explicitly.

On Wed, Oct 21, 2015 at 3:37 PM, csobier <notifications@github.com> wrote:

--
Vanessa Hamer
Business Development & Operations
CartoDB <http://cartodb.com> | vhamer@cartodb.com
919.389.7768 | skype: vhamer

[2015-10-22 09:53] matallo opened #453 "[sql-api] include metrics in docs"
- `doc/metrics.md` is not currently included in docs, but file exists in repo

/cc @rochoa

[2015-10-22 10:45] rochoa commented on #453
I wouldn't include metrics in official documentation. It's about internal application metrics and end users cannot access those metrics.

[2015-10-22 11:58] #156 closed

[2015-10-22 14:59] matallo opened #454 "create template for screenshots"

[2015-10-22 15:40] csobier commented on #381
Adding resources:
- https://speakerdeck.com/almccon/advanced-cartocss-tricks-foss4g-2014
- https://docs.google.com/presentation/d/1nXHsuxOHBxs_mEkpsiBkgcdtVPElD-MrylExthk4LKk/edit

[2015-10-22 15:43] csobier commented on #453
@rochoa , please advise as to what to do (I do not know).  Should any of this content be added to the sql-api doc?  Let me know what the requirements are.

[2015-10-22 15:43] csobier commented on #449
@rochoa , please advise as to what to do (I do not know).  Should any of this content be added to the cartodb.js?  Let me know what the requirements are.

[2015-10-22 15:44] csobier commented on #448
@rochoa , please advise as to what to do (I do not know).  Should this content be added to the cartodb.js doc?  Let me know what the requirements are.

[2015-10-22 15:52] rochoa commented on #453
As I said I would not include this documentation in the official documentation.

[2015-10-22 15:52] #453 closed

[2015-10-22 16:07] matallo opened #455 "retake editor screenshots using template"
blocked by https://github.com/CartoDB/docs/issues/454

not assigning any milestone, to be done progressively, while this is not finished the old images will be stored in an `/old` folder

[2015-10-22 16:39] matallo commented on #449
I'm removing the assignee and milestone, but will keep the issue open for tracking

[2015-10-22 16:40] #449 closed

[2015-10-22 16:40] #448 closed

[2015-10-22 16:42] matallo opened #456 "bundle js with browserify"
reference:

https://github.com/CartoDB/cartodb.js/blob/v4-browserify-standard1/src-browserify/core.js
https://github.com/CartoDB/cartodb.js/tree/v4-browserify-standard1/src-browserify and browse `standard.js` + `create-cdb.js`, nojquery/noleaflet bundles will utilize that create-cdb function too to implement those bundles w/o hassle

[2015-10-22 17:01] csobier opened #457 "Add support for bullets and numbered steps in the new markdown code"
Please ensure that bullets and numbered steps are supported and appear correctly, as part of the newdocs migration project.
- [ ] bullets
- [ ] numbered steps

Thank you!

[2015-10-22 17:54] auremoser commented on #381
Cool, what's your deadline? want to setup a meeting to go over it? I would say a lot of the examples in the deck are more about kind of tricky things you can do to cheat in CartoCSS. Mamata also knows some creative ways of approaching CartoCSS, so I'll tag her as well @makella :)

[2015-10-22 18:02] csobier commented on #381
I'll schedule a meeting for early next week!  Depending on the documentation requirements, we'll assess a reasonable amount of time to complete this.

[2015-10-23 14:08] andrewxhill commented on #452
best would be to sit with @ztephm and @makella for 20 minutes to see what scope would be feasible on a minimal first iteration, and then what directions would be valuable to go after.